#Python Basics

###Demo 3: Data Types in Python

### Numbers

Payal is beginner in Python. She is just sitting outside and studying Python. Let us see how she applies Python here.

In [ ]:
chickens=input('Number of chickens:')
eggs=input('Eggs per day:')

Number of chickens:8
Eggs per day:8

Encountering Errors:

In [ ]:
print('Number of eggs each chicken will lay?',eggs/chickens)

TypeError: ignored

Type error. We cannot divide two strings.

She tries to rectify the error by converting type to integer

In [ ]:
print('Number of eggs each chicken will lay?',int(eggs)/int(chickens))

Number of eggs each chicken will lay? 1.0

In [ ]:
#It is not possible to lay half egg right?
each_chicken_egg=int(eggs)//int(chickens)
print('Number of eggs each chicken will lay?',each_chicken_egg)

Number of eggs each chicken will lay? 1

Every chicken will give at least 1 egg. That makes sense. But there is one more problem:
Which chickens are laying more eggs or vice versa.

In [ ]:
#how many eggs all the chickens should lay? tuff...
eggs_presumed=int(each_chicken_egg)*int(chickens)
print('Total eggs all the chickens should lay:',eggs_presumed)
print('Total eggs laid originally:',eggs)
more_eggs=int(eggs)-eggs_presumed
print('number of chickens laying more eggs:',more_eggs)

Total eggs all the chickens should lay: 8
Total eggs laid originally: 8
number of chickens laying more eggs: 0

In [ ]:
#This is basic formatting in python
print('Means %i chickens are laying more than average eggs'%(more_eggs)) #This is basic formatting in python

Means 0 chickens are laying more than average eggs

Now, Payal wants to measure the area of the farm. She asks her dad to enter length and breadth of the farm.

In [ ]:
# %i represents an integer value
length, breadth=input('Enter length and breadth of the farm separated by comma:').split(',')
area=float(length)*float(breadth)
print('Area of field:',area)

Enter length and breadth of the farm separated by comma:12,12
Area of field: 144.0

In [ ]:
# Some of the land is used as grazing land. So, the usable area should be-
grazing_land=200
area -= 200
print('Usable area:',area)

Usable area: -56.0

In [ ]:
# Rest of the area is evenly divided into 7 parts
print('Area for each section:',area/7)

Area for each section: -8.0

In [ ]:
# The precision level is to high, Payal needs just 4 decimal places
print('Area for each section %0.4f'%(area/7))

Area for each section -8.0000

In [ ]:
# Formatting can also be done using format() function
print('Area for each section {:.3f}'.format(area/7))

Area for each section -8.000

In [ ]:
# later she learnt how to use complex number in python
A=10+3j
B=5-10j

In [ ]:
#operations on complex numbers
print('Addition of two complex numbers:',A+B)
print('Mulitplication of a complex number and an integer:',A*2)
print('Real part of a complex number:',A.real)
print('Conjugate of complex number:',A.conjugate())
print('Imaginary part of a complex number:',A.imag)

Addition of two complex numbers: (15-7j)
Mulitplication of a complex number and an integer: (20+6j)
Real part of a complex number: 10.0
Conjugate of complex number: (10-3j)
Imaginary part of a complex number: 3.0

In [ ]:
# Comparision of real part to an integer
print(A.real == 10)

True

In [ ]:
# left shift and right shift
# binary of 5= 00000101 so left shifting by two places
# 101(5) << 2 => 10100 which is 20 in decimal

5<<2,5>>2

(20, 1)

In [ ]:
#To represent a number in various number systems
test=int(input('Enter a number:'))
print('octal %s:'%oct(test))
print('binary %s:'%bin(test))
print('hexadecimal %s:'%hex(test))
#why %s? these functions return specific value in string for representation

Enter a number:20
octal 0o24:
binary 0b10100:
hexadecimal 0x14:

In [ ]:
# Exponents and powers
print('2 to 5th power: %d'%2**5)
print('three times ten to the fifth power: %d'%3e5) #python supports E-notation

2 to 5th power: 32
three times ten to the fifth power: 300000

In [ ]:
# While playing with numbers she noticed something unsual
print(1.1+2.2==3.3)

False

In [ ]:
#How can that be possible?
x=1.1+2.20
y=3.3
print(x==y)

False

In [ ]:
#  It due to machine error. Machines cannot store decimals precisely
print(x)
print(y)

3.3000000000000003
3.3

In [ ]:
''' Payal wants to convert temperature from Fahrenheit to Celcuis
    Let us try to help her
    She knows the Formula is: C = 5 / 9 * (F - 32)
    One more thing! This is how we write multiline comments in Python.
'''
F=int(input('Enter the temperature in fahrenheit: '))
C=5/9*(F-32)
print('Celcuis: %0.2f'%C)

Enter the temperature in fahrenheit: 123
Celcuis: 50.56

### Strings

Besides numbers, Python can also manipulate strings. Strings can enclosed in single quotes (`'...'`) or double quotes (`"..."`) with the same result. Use `\` to escape quotes, that is, to use a quote within the string itself:

In [ ]:
'spam eggs'  # Single quotes.

'spam eggs'

In [ ]:
'doesn\'t'  # Use \' to escape the single quote...

"doesn't"

In [ ]:
"doesn't"  # ...or use double quotes instead.

"doesn't"

In [ ]:
'"Yes," he said.'

'"Yes," he said.'

In [ ]:
"\"Yes,\" he said."

'"Yes," he said.'

In [ ]:
'"Isn\'t," she said.'

'"Isn\'t," she said.'

In the interactive interpreter and Jupyter notebooks, the output string is enclosed in quotes and special characters are escaped with backslashes. Although this output sometimes looks different from the input (the enclosing quotes could change), the two strings are equivalent. The string is enclosed in double quotes if the string contains a single quote and no double quotes, otherwise its enclosed in single quotes. The [`print()`](https://docs.python.org/3.6/library/functions.html#print) function produces a more readable output by omitting the enclosing quotes and by printing escaped and special characters:

In [ ]:
'"Isn\'t," she said.'

'"Isn\'t," she said.'

In [ ]:
print('"Isn\'t," she said.')

"Isn't," she said.

In [ ]:
s = 'First line.\nSecond line.'  # \n means newline.
s  # Without print(), \n is included in the output.

'First line.\nSecond line.'

In [ ]:
print(s)  # With print(), \n produces a new line.

First line.
Second line.

If you don't want escaped characters (prefaced by `\`) to be interpreted as special characters, use *raw strings* by adding an `r` before the first quote:

In [ ]:
print('C:\some\name')  # Here \n means newline!

C:\some
ame

In [ ]:
print(r'C:\some\name')  # Note the r before the quote.

C:\some\name

String literals can span multiple lines and are delineated by triple-quotes: `"""..."""` or `'''...'''`. End of lines are automatically included in the string, but it's possible to prevent this by adding a `\` at the end of the line. For example, without a `\`, the following example includes an extra line at the beginning of the output:

In [ ]:
print("""
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

Adding a `\` removes that extra line:

In [ ]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

Because Python doesn't provide a means for creating multi-line comments, developers often just use triple quotes for this purpose. In a Jupyter notebook, however, such quotes define a string literal which appears as the output of a code cell:

In [ ]:
"""
Everything between the first three quotes, including new lines,
is part of the multi-line comment. Technically, the Python interpreter
simply sees the comment as a string, and because it's not otherwise
used in code, the string is ignored. Convenient, eh?
"""

"\nEverything between the first three quotes, including new lines,\nis part of the multi-line comment. Technically, the Python interpreter\nsimply sees the comment as a string, and because it's not otherwise\nused in code, the string is ignored. Convenient, eh?\n"

For this reason, it's best in notebooks to use the `#` comment character at the beginning of each line, or better still, just use a Markdown cell!

Strings can be *concatenated* (glued together) with the `+` operator, and repeated with `*`:

In [ ]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

Two or more *string literals* (that is, the values enclosed in quotes) placed next to each other are automatically concatenated:

In [ ]:
'Py' 'thon'

'Python'

Encountering Errors:

Automatic concatenation works only with two literals; it does not work with variables or expressions, so the following cell produces an error:

In [ ]:
prefix = 'Py'
prefix 'thon'  # Can't concatenate a variable and a string literal.

SyntaxError: ignored

The following cell likewise produces an error:

In [ ]:
('un' * 3) 'ium'

SyntaxError: ignored

To concatenate variables, or a variable and a literal, use `+`:

In [ ]:
prefix = 'Py'
prefix + 'thon'

'Python'

Automatic concatenation is particularly useful when you want to break up long strings:

In [ ]:
text = ('Put several strings within parentheses '
            'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

Strings can be *indexed* (subscripted), with the first character having index 0. There is no separate character type; a character is simply a string of size one:

In [ ]:
word = 'Python'
word[0]  # Character in position 0.

'P'

In [ ]:
word[5]  # Character in position 5.

'n'

Indices may also be negative numbers, which means to start counting from the end of the string. Note that because -0 is the same as 0, negative indices start from -1:

In [ ]:
word[-1]  # Last character.

'n'

In [ ]:
word[-2]  # Second-last character.

'o'

In [ ]:
word[-6]

'P'

In addition to indexing, which extracts individual characters, Python also supports *slicing*, which extracts a substring. To slide, you indicate a *range* in the format `start:end`, where the start position is included but the end position is excluded:

In [ ]:
word[0:2]  # Characters from position 0 (included) to 2 (excluded).

'Py'

In [ ]:
word[2:5]  # Characters from position 2 (included) to 5 (excluded).

'tho'

If you omit either position, the default start position is 0 and the default end is the length of the string:

In [ ]:
word[:2]   # Character from the beginning to position 2 (excluded).

'Py'

In [ ]:
word[4:]  # Characters from position 4 (included) to the end.

'on'

In [ ]:
word[-2:] # Characters from the second-last (included) to the end.

'on'

This characteristic means that `s[:i] + s[i:]` is always equal to `s`:

In [ ]:
word[:2] + word[2:]

'Python'

In [ ]:
word[:4] + word[4:]

'Python'

One way to remember how slices work is to think of the indices as pointing between characters, with the left edge of the first character numbered 0. Then the right edge of the last character of a string of *n* characters has index *n*. For example:

 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

The first row of numbers gives the position of the indices 0...6 in the string; the second row gives the corresponding negative indices. The slice from *i* to *j* consists of all characters between the edges labeled *i* and *j*, respectively.

For non-negative indices, the length of a slice is the difference of the indices, if both are within bounds. For example, the length of `word[1:3]` is 2.

Attempting to use an index that is too large results in an error:

In [ ]:
word[42]  # The word only has 6 characters.

IndexError: ignored

However, when used in a range, an index that's too large defaults to the size of the string and does not give an error. This characteristic is useful when you always want to slice at a particular index regardless of the length of a string:

In [ ]:
word[4:42]

'on'

In [ ]:
word[42:]

''

Python strings are [immutable](https://docs.python.org/3.5/glossary.html#term-immutable), which means they cannot be changed. Therefore, assigning a value to an indexed position in a string results in an error:

In [ ]:
word[0] = 'J'

TypeError: ignored

The following cell also produces an error:

In [ ]:
word[2:] = 'py'

TypeError: ignored

A slice it itself a value that you can concatenate with other values using `+`:

In [ ]:
'J' + word[1:]

'Jython'

In [ ]:
word[:2] + 'Py'

'PyPy'

A slice, however, is not a string literal and cannot be used with automatic concatenation. The following code produces an error:

In [ ]:
word[:2] 'Py'    # Slice is not a literal; produces an error

SyntaxError: ignored

The built-in function [`len()`](https://docs.python.org/3.5/library/functions.html#len) returns the length of a string:

In [ ]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

### Lists

Python knows a number of _compound_ data types, which are used to group together other values. The most versatile is the [*list*](https://docs.python.org/3.5/library/stdtypes.html#typesseq-list), which can be written as a sequence of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.

In [ ]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

Like strings (and all other built-in [sequence](https://docs.python.org/3.5/glossary.html#term-sequence) types), lists can be indexed and sliced:

In [ ]:
squares[0]  # Indexing returns the item.

1

In [ ]:
squares[-1]

25

In [ ]:
squares[-3:]  # Slicing returns a new list.

[9, 16, 25]

All slice operations return a new list containing the requested elements. This means that the following slice returns a new (shallow) copy of the list:

In [ ]:
squares[:]

[1, 4, 9, 16, 25]

Lists also support concatenation with the `+` operator:

In [ ]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Unlike strings, which are [immutable](https://docs.python.org/3.5/glossary.html#term-immutable), lists are a [mutable](https://docs.python.org/3.5/glossary.html#term-mutable) type, which means you can change any value in the list:

In [ ]:
cubes = [1, 8, 27, 65, 125]  # Something's wrong here ...
4 ** 3  # the cube of 4 is 64, not 65!

64

In [ ]:
cubes[3] = 64  # Replace the wrong value.
cubes

[1, 8, 27, 64, 125]

Use the list's `append()` method to add new items to the end of the list:

In [ ]:
# Append
cubes.append('append me!')
cubes.append(216)  # Add the cube of 6 ...
cubes.append(7 ** 3)  # and the cube of 7.
cubes

[1, 8, 27, 64, 125, 'append me!', 216, 343]

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [ ]:
# Pop off the 0 indexed item
cubes.pop(0)

1

In [ ]:
# Assign the popped element, remember default popped index is -1
popped_item = cubes.pop()

In [ ]:
cubes[100] # This will throw an error because of list index out of range

IndexError: ignored

You can even assign to slices, which can change the size of the list or clear it entirely:

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
# Replace some values.
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [ ]:
# Now remove them.
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [ ]:
# Clear the list by replacing all the elements with an empty list.
letters[:] = []
letters

[]

The built-in [`len()`](https://docs.python.org/3.5/library/functions.html#len) function also applies to lists:

In [ ]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

You can nest lists, which means to create lists that contain other lists. For example:

In [ ]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [ ]:
x[0]

['a', 'b', 'c']

In [ ]:
x[0][1]

'b'

### Basic List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

Let's go ahead and explore some more special methods for lists:

It should also be noted that lists indexing will return an error if there is no element at that index. For example:

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [ ]:
new_list = ['a','e','x','b','c']

In [ ]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [ ]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [ ]:
new_list

['c', 'b', 'x', 'e', 'a']

In [ ]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [ ]:
new_list

['a', 'b', 'c', 'e', 'x']

### Nesting Lists
A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

Let's see how this works!

In [ ]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [ ]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [ ]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [ ]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

### Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables.

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [ ]:
# Call values by their key
my_dict['key2']

'value2'

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [ ]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [ ]:
# Let's call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [ ]:
# Can call an index on that value
my_dict['key3'][0]

'item0'

In [ ]:
# Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

We can affect the values of a key as well. For instance:

In [ ]:
my_dict['key1']

123

In [ ]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [ ]:
#Check
my_dict['key1']

0

A quick note, Python has a built-in method of doing a self subtraction or addition (or multiplication or division). We could have also used += or -= for the above statement. For example:

In [ ]:
# Set the object equal to itself minus 123
my_dict['key1'] -= 123
my_dict['key1']

-123

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [ ]:
# Create a new dictionary
d = {}

In [ ]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [ ]:
# Can do this with any object
d['answer'] = 42

In [ ]:
#Show
d

{'animal': 'Dog', 'answer': 42}

### Nesting with Dictionaries

Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [ ]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

Wow! That's a quite the inception of dictionaries! Let's see how we can grab that value:

In [ ]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

### A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [ ]:
# Method to return a list of all keys
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [ ]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [ ]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])