In [ ]:
ls1 = ["Hello","take"]
ls2 = ["Dear","Sir"]

ls3 = []
i = 0
while i<len(ls2):
  j=0
  word = ls1[i] + " " + ls2[j]
  j = j + 1
  ls3.append(word)
i = i + 1

print("List 3 contains : ", list3)

In [ ]:
list1 = ["M","na","i","Ke"]
list2 = ["y","me","s","lly"]

list3 = []

i = 0
while i<len(list1):
  word = list1[i] + list2[i]
  list3.append(word)
  i = i + 1

print("Resulting list is :", list3)

Resulting list is : ['My', 'name', 'is', 'Kelly']

In [ ]:
ls1 = ["Mike", "" ,"Emma","Kelly","","Brad"]
print("Original list is : ", ls1)
i = 0
while i<len(ls1):
  if len(ls1[i]) == 0 :
    ls1.remove(ls1[i])
  i = i + 1
print("updated list is ", ls1)

Original list is :  ['Mike', '', 'Emma', 'Kelly', '', 'Brad']
updated list is  ['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
# or
ls1 = ["Mike", "" ,"Emma","Kelly","","Brad"]
print("Original list is : ", ls1)
ls2 = []
i = 0
while i<len(ls1):
  if len(ls1[i]) > 0 :
    ls2.append(ls1[i])
  i = i + 1

print("Updated list is", ls2)

Original list is :  ['Mike', '', 'Emma', 'Kelly', '', 'Brad']
Updated list is ['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
ls1 = [10,20,[300,400,[5000,6000],500],30,40]
print("Original list is : ",ls1)
ls1[2][2].append(7000)
print("Updated list is : ", ls1)

Original list is :  [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
Updated list is :  [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
# Set :
# - A set is collection of unique values only .
# - i.e no duplicate elements allowed .
# - A set is dynamic and mutable entity .
# for ex :

set1 = {10,"ABCD",20.55,110.45,"XYZ",10,"ABCD",25}
print(set1)

{'ABCD', 20.55, 25, 10, 'XYZ', 110.45}

In [ ]:
# Remember that , set does not allow indexing and therefore we cannot over-write elements via index-numbers.
# Therefore , we cannot use while loops to iterate on elements of set (via index - number).
# But we can use for-loop on set . Because for-loop works on elements .(not on index-numbers).
# set allows only immutable elements.
# set does not maintain order of elements .


# Pop : This function removes/pops any random element from invoking set object .
# ex :
set1 = {10,"ABCD",20.55,110.45,"XYZ",10,"ABCD",25}
print("Initially set is :", set1)
set1.pop()
print("Updated set is :",set1)

Initially set is : {'ABCD', 20.55, 25, 10, 'XYZ', 110.45}
Updated set is : {20.55, 25, 10, 'XYZ', 110.45}

In [ ]:
# Update : This function adds elements of parameter sequence into invoking set object . This is like extend() method of list .
# ex :
set1 = {10,"ABCD",20.55,110.45,"XYZ",10,"ABCD",25}
print("Initially set is : ", set1)
set1.update([45,88,10])
print("Update set is : ", set1)
# parameter must be sequence/iterable

Initially set is :  {'ABCD', 20.55, 25, 10, 'XYZ', 110.45}
Update set is :  {'ABCD', 20.55, 88, 25, 10, 'XYZ', 45, 110.45}

In [ ]:
# copy : This function creates new copy of invoking set object and returns.
# ID of both objects will be different .
# ex:
set1 = {10,"ABCD",20.55,110.45,"XYZ",10,"ABCD",25}
print("Initially set is : ", set1)
set2 = set1.copy()
print("set1 is :",set1)
print("set2 is :",set2)
print(id(set1))
print(id(set2))

Initially set is :  {'ABCD', 20.55, 25, 10, 'XYZ', 110.45}
set1 is : {'ABCD', 20.55, 25, 10, 'XYZ', 110.45}
set2 is : {'ABCD', 20.55, 25, 10, 'XYZ', 110.45}
138670399400960
138670399404768

In [ ]:
# clear : This function clears/truncates all elements of invoking set object .
set1 = {10,"ABCD",20.55,110.45,"XYZ",10,"ABCD",25}
print("Initially set is : ", set1)
set1.clear()
print("Updated set is : ",set1)

Initially set is :  {'ABCD', 20.55, 25, 10, 'XYZ', 110.45}
Updated set is :  set()

In [ ]:
# remove: This function removes specified element form invoking set object .
# ex :
set1 = {10,"ABCD",20.55,110.45,"XYZ",10,25}
print("Initially set is : ", set1)
set1.remove("ABCD")
print("Updated list is : ",set1)
# Remember that , set does not store duplicate elements , therefore each elements can have only single entry in set .

Initially set is :  {'ABCD', 20.55, 25, 10, 'XYZ', 110.45}
Updated list is :  {20.55, 25, 10, 'XYZ', 110.45}

In [ ]:
# discard() : This function removes/discards specified element from invoking set object .
set1 = {10,"ABCD",20.55,110.45,"XYZ",10,25}
print("Initially set is : ", set1)
set1.discard("ABCD")
print("Updated set is : ",set1)

Initially set is :  {'XYZ', 20.55, 25, 10, 'ABCD', 110.45}
Updated set is :  {'XYZ', 20.55, 25, 10, 110.45}

In [ ]:
# add() : This function is to add specified single element into invoking set object . This funcion is similar to append() of list .
# remove: This function removes specified element form invoking set object .
# ex :
set1 = {10,"ABCD",20.55,110.45,"XYZ",10,"ABCD",25}
print("Initially set is : ", set1)
set1.add("Kishori")
print("Updated list is : ",set1)
# if an already existing element is mentioned to add , then it will not kep duplicate element .
# we can also add an entire immutable sequence in invoking set object . Only set and string are allowed to be add .

Initially set is :  {'ABCD', 20.55, 25, 10, 'XYZ', 110.45}
Updated list is :  {'ABCD', 20.55, 'Kishori', 25, 10, 'XYZ', 110.45}

In [ ]:
# remove: This function removes specified element form invoking set object .
# ex :
set1 = {10,"ABCD",20.55,110.45,"XYZ",10,"ABCD",25}
print("Initially set is : ", set1)
set2 = set1.add((33,45,60,80))
print("Updated list is : ",set1)

Initially set is :  {'ABCD', 20.55, 25, 10, 'XYZ', 110.45}
Updated list is :  {'ABCD', 20.55, (33, 45, 60, 80), 25, 10, 'XYZ', 110.45}

In [ ]:
# dict methods :
# update() : This method is to add or update a k:v pair in invoking dict object . This pair must be in {}.
# ex :
d = {"Two":"||"}
print(d)
d.update({"One":1})
print(d)

{'Two': '||'}
{'Two': '||', 'One': 1}

In [ ]:
# We can also add or update a K:V pair by using indexing operator . If specified K:V pair is already present then updates the value , if not present
# then adds as new K:v pair.
# ex :
d = {"two":"||"}
print(d)
d.update({"Öne":1})
print(d)
d["Two"] = 2
print(d)
d[3] = "Three"
print(d)

{'two': '||'}
{'two': '||', 'Öne': 1}
{'two': '||', 'Öne': 1, 'Two': 2}
{'two': '||', 'Öne': 1, 'Two': 2, 3: 'Three'}

In [ ]:
# ex 3 : We can also provide multiple K:V pairs to update() method .
d = {"One":1,"Two":2,"Three":3,"Four":4}
print("Initially Dictionary is : ",d)
d2 = {"Five":5,"Six":6,"Seven":7}
d.update(d2)
print("Updated dicitonary is ",d)

Initially Dictionary is :  {'One': 1, 'Two': 2, 'Three': 3, 'Four': 4}
Updated dicitonary is  {'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6, 'Seven': 7}

In [ ]:
# clear : This function clears / truncates of invoking dictionary object .
d = {"One":1,"Two":2,"Three":3,"Four":4}
print("Initially Dictionary is : ",d)
print(id(d))
d.clear()
print("Updated Dictionary is :",d)
print(id(d))

Initially Dictionary is :  {'One': 1, 'Two': 2, 'Three': 3, 'Four': 4}
138669682662592
Updated Dictionary is : {}
138669682662592

In [ ]:
# copy : This funcitn returns a new copy of invoking dictionary object . ID of both dictionary object will be different.
# for ex :
d = {"One":1,"Two":2,"Three":3,"Four":4}
print("Initially Dictionary is : ",d)
print(id(d))
d2 = d.copy()
print("The copied list is : ", d2)
print(id(d2))

Initially Dictionary is :  {'One': 1, 'Two': 2, 'Three': 3, 'Four': 4}
138669682399872
The copied list is :  {'One': 1, 'Two': 2, 'Three': 3, 'Four': 4}
138669682408832

In [ ]:
# get() : This function fetches and returns value of specified key . We have to pass KEY as a parameter .
# ex :
d = {"One":1,"Two":2,"Three":3,"Four":4}
a = d.get("Two")
print(a)

2

In [ ]:
# fromkeys() : This function creates and returns a dictionary from specified iterable .
# The elements of specified iterable will be KEYS . It will be default assigned with None .
# ex :
ls = [1,2,3,4,5,6,7,8,9]
d = dict.fromkeys(ls)
print(d)

{1: None, 2: None, 3: None, 4: None, 5: None, 6: None, 7: None, 8: None, 9: None}

In [ ]:
# ex 2:
ls = [1,2,3,4,5,6,7,8,9]
d = dict.fromkeys(ls,"ABCD") # <--- "ABCD" will be the value and the list elements will be the keys .
print(d)

{1: 'ABCD', 2: 'ABCD', 3: 'ABCD', 4: 'ABCD', 5: 'ABCD', 6: 'ABCD', 7: 'ABCD', 8: 'ABCD', 9: 'ABCD'}

In [ ]:
# items() : This function returns the K:V pairs of invoking dicitonary object as tuple-elements , this entire set of K:V pairs is a list object .
# This function returns a list containing K:V pairs as tuple elements .
# ex :
d = {"Prathamesh":100,"Pratik":101234,"Pranav":1010400}
a = list(d.items()) # <--- converts results in list object .
print(a)

[('Prathamesh', 100), ('Pratik', 101234), ('Pranav', 1010400)]

In [ ]:
# Keys() : This function fetches only keys from invoking dictionary object and returns as iterable/seq .
# for ex :
d = {"Prathamesh":100,"Pratik":101234,"Pranav":1010400}
ls = list(d.keys())
print(ls)

['Prathamesh', 'Pratik', 'Pranav']

In [ ]:
# values : This function returns only values form invoking dicitonary object and returns as iterable/seq .
d = {"Prathamesh":100,"Pratik":101234,"Pranav":1010400}
v = list(d.values())
print(v)

[100, 101234, 1010400]

In [ ]:
# Pop : This function will remove/pop specified K:V pair based on specified parameter KEY .
# ex :
d = {"Prathamesh":100,"Pratik":101234,"Pranav":1010400}
print("Initially dictionary contains : ",d)
d.pop("Pratik")
print("Now the list contains :", d)

Initially dictionary contains :  {'Prathamesh': 100, 'Pratik': 101234, 'Pranav': 1010400}
Now the list contains : {'Prathamesh': 100, 'Pranav': 1010400}

In [ ]:
# popitem() : This function removes/pops any K:V pair ramdomly form invoking a dictionary object .
# ex :
d = {"Prathamesh":100,"Pratik":101234,"Pranav":1010400}
print("Initially dictionary contains : ", d)
d.popitem()
print("Updated dictionary contains : ",d )

Initially dictionary contains :  {'Prathamesh': 100, 'Pratik': 101234, 'Pranav': 1010400}
Updated dictionary contains :  {'Prathamesh': 100, 'Pratik': 101234}

In [ ]:
# ZIP() : The zip function creates a dictionary form specified two iterables .
# zip(itr1,itr2)
# This will prepare a dictionary , where elements of first iterable becomes KEYS and elements of second iterable becomes VALUES .
# ex :
ls = [1,2,3,4,5,6,7,8,9]
tup = (10,20,30,40,50,60,70,80,90)
d = dict(zip(ls,tup))
print(d)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70, 8: 80, 9: 90}

In [ ]:
# simple logic to remove duplicate elements from list :
# convert the list into set
# so that it will remove duplicate elements
# now convert back this set into list

a = [10,20,30,10,40,50,60,10,70,80,20,90]
s = set(a)
print("The converted list into set is : ",s)
b = list(s)
print("The converted set into list is : ",b)

The converted list into set is :  {70, 40, 10, 80, 50, 20, 90, 60, 30}
The converted set into list is :  [70, 40, 10, 80, 50, 20, 90, 60, 30]

In [ ]:
# simple program for swapping :
a = 10
b = 20
print("Initailly a =",a,"and b =",b)
a,b = b,a
print("Now a =",a,"and b=",b)

Initailly a = 10 and b = 20
Now a = 20 and b= 10

In [ ]:
# ---Short hand if-else statement---
# refer following general if-else program :
num = int(input("Enter any number"))
if num%2==0:
  print("The given no. is even ")
else:
  print("The given no. is false")

# The same program can be written as :
num = int(input("Enter any number"))
print("is even") if num%2==0 else print("is odd")

Enter any number2
The given no. is even
Enter any number5
is odd

In [ ]:
# program to demonstrate lambda expression and map()
# lambda is basically to reduce the complexity of code like inline functions in c++ .
asci = lambda ch : ord(ch)
st = input("Enter any string : ")
a = list(map(asci,st))
print(a)

Enter any string : heyy
[104, 101, 121, 121]

In [ ]:
# or
asci = lambda ch : ord(ch)
ls = []
st = input("Enter any string : ")
ls.extend(st)
a = list(map(asci,ls))
print(a)

Enter any string : jaishreeram
[106, 97, 105, 115, 104, 114, 101, 101, 114, 97, 109]

In [ ]:
# --- Set operation's functions ---
# union() : This function will perform union of elements of invoking set object and parameter set object .
# for ex :
set1 = {10,"ABCD",20.55,110.45,"XYZ",25}
set2 = {45,67,2005,54.365,False,"XYZ"}
print("Initially set is :",set1)
print("Initially set is : ",set2)
set3 = set1.union(set2)
print("set1 is : ",set1)
print("set2 is : ",set2)
print("set3 is :",set3)

# Remember that , we can provide any sequence/iterable as parameter to set's operational functions .

Initially set is : {'XYZ', 20.55, 'ABCD', 25, 10, 110.45}
Initially set is :  {False, 67, 'XYZ', 2005, 54.365, 45}
set1 is :  {'XYZ', 20.55, 'ABCD', 25, 10, 110.45}
set2 is :  {False, 67, 'XYZ', 2005, 54.365, 45}
set3 is : {False, 67, 'ABCD', 10, 45, 110.45, 'XYZ', 20.55, 2005, 54.365, 25}

In [ ]:
# intersection() : This function performs intersection of invoking set object and parameter set object .
# for ex :
set1 = {10,"ABCD",20.55,110.45,"XYZ",25}
set2 = {45,67,2005,54.365,False,"XYZ"}
print("Initially set is :",set1)
print("Initially set is : ",set2)
set3 = set1.intersection(set2) # <--- common elements between set1 and set2
print()
print("set1 is : ",set1)
print("set2 is : ",set2)
print("set3 is :",set3)

Initially set is : {'XYZ', 20.55, 'ABCD', 25, 10, 110.45}
Initially set is :  {False, 67, 'XYZ', 2005, 54.365, 45}

set1 is :  {'XYZ', 20.55, 'ABCD', 25, 10, 110.45}
set2 is :  {False, 67, 'XYZ', 2005, 54.365, 45}
set3 is : {'XYZ'}

In [ ]:
# difference() : This function return resulting set that contains elements of invoking set object other-than common elements between invoking set object and parameter set object .
set1 = {10,"ABCD",20.55,110.45,"XYZ",25}
set2 = {45,67,2005,54.365,False,"XYZ"}
print("Initially set is :",set1)
print("Initially set is : ",set2)
set3 = set1.difference(set2) # <-- will show without common elements.
# will return elements of "set1"
# other than common elements
set4 = set2.difference(set1)
# will return elements of "set2"
# other than common elements .
print()
print("set1 is : ",set1)
print("set2 is : ",set2)
print("set3 is :",set3)
print("set is : ",set4)

Initially set is : {'XYZ', 20.55, 'ABCD', 25, 10, 110.45}
Initially set is :  {False, 67, 'XYZ', 2005, 54.365, 45}

set1 is :  {'XYZ', 20.55, 'ABCD', 25, 10, 110.45}
set2 is :  {False, 67, 'XYZ', 2005, 54.365, 45}
set3 is : {'ABCD', 10, 110.45, 20.55, 25}
set is :  {False, 67, 45, 2005, 54.365}

In [ ]:
# difference_update : This function performs difference operation but will update the resulting set in invoking set object directly . will not return .
set1 = {10,"ABCD",20.55,110.45,"XYZ",25}
set2 = {45,67,2005,54.365,False,"XYZ"}
print("Initially set is :",set1)
print("Initially set is : ",set2)
set3 = set1.difference_update(set2)
print()
print("set1 is : ",set1)
print("set2 is : ",set2)
print("set3 is :",set3)

Initially set is : {'XYZ', 20.55, 'ABCD', 25, 10, 110.45}
Initially set is :  {False, 67, 'XYZ', 2005, 54.365, 45}

set1 is :  {20.55, 'ABCD', 25, 10, 110.45}
set2 is :  {False, 67, 'XYZ', 2005, 54.365, 45}
set3 is : None

In [ ]:
# intersection_update() : This function finds intersection of invoking set object and parameter set object and updates in invoking set object . will not return .
set1 = {10,"ABCD",20.55,110.45,"XYZ",25}
set2 = {45,67,2005,54.365,False,"XYZ"}
print("Initially set is :",set1)
print("Initially set is : ",set2)
set3 = set1.intersection_update(set2)
print()
print("set1 is : ",set1)
print("set2 is : ",set2)
print("set3 is :",set3)

Initially set is : {'XYZ', 20.55, 'ABCD', 25, 10, 110.45}
Initially set is :  {False, 67, 'XYZ', 2005, 54.365, 45}

set1 is :  {'XYZ'}
set2 is :  {False, 67, 'XYZ', 2005, 54.365, 45}
set3 is : None

In [ ]:
# symmetric_difference() : This function returns symmatric difference of invoking set object and parameter set object .
# symmetric_difference = union - common
set1 = {10,"ABCD",20.55,110.45,"XYZ",25}
set2 = {45,67,2005,54.365,False,"XYZ"}
print("Initially set is :",set1)
print("Initially set is : ",set2)
set3 = set1.symmetric_difference(set2)
print()
print("set1 is : ",set1)
print("set2 is : ",set2)
print("set3 is :",set3)

Initially set is : {'XYZ', 20.55, 'ABCD', 25, 10, 110.45}
Initially set is :  {False, 67, 'XYZ', 2005, 54.365, 45}

set1 is :  {'XYZ', 20.55, 'ABCD', 25, 10, 110.45}
set2 is :  {False, 67, 'XYZ', 2005, 54.365, 45}
set3 is : {False, 67, 'ABCD', 10, 20.55, 2005, 25, 45, 110.45, 54.365}

In [ ]:
# symmetric_difference_update() : This function finds symmatric difference betweeen inboking set object and parameter set object and updates invoking set object . will not return .
set1 = {10,"ABCD",20.55,110.45,"XYZ",25}
set2 = {45,67,2005,54.365,False,"XYZ"}
print("Initially set is :",set1)
print("Initially set is : ",set2)
set3 = set1.symmetric_difference_update(set2)
print()
print("set1 is : ",set1)
print("set2 is : ",set2)
print("set3 is :",set3)

Initially set is : {'XYZ', 20.55, 'ABCD', 25, 10, 110.45}
Initially set is :  {False, 67, 'XYZ', 2005, 54.365, 45}

set1 is :  {False, 67, 'ABCD', 10, 20.55, 2005, 25, 45, 110.45, 54.365}
set2 is :  {False, 67, 'XYZ', 2005, 54.365, 45}
set3 is : None

In [ ]:
# issubset(): This function checks and returns whether invoking set object is subset of prameter set object or not . Returns boolean .
# for ex :
set1 = {10,"ABCD",20.55,110.45,"XYZ",25}
set2 = {10,"ABCD","XYZ"}
print("Initially set is :",set1)
print("Initially set is : ",set2)
a = set1.issubset(set2)
b = set2.issubset(set1)

print("set1 is subset of set2: ",a)
print("set2 is subset of set1: ",b)

Initially set is : {'XYZ', 20.55, 'ABCD', 25, 10, 110.45}
Initially set is :  {10, 'XYZ', 'ABCD'}
set1 is subset of set2:  False
set2 is subset of set1:  True

In [ ]:
# issuperset(): This function checks and returns whether invoking set object is superset of parameter set object or not . Returns Boolean .
set1 = {10,"ABCD",20.55,110.45,"XYZ",25}
set2 = {10,"ABCD","XYZ"}
print("Initially set is :",set1)
print("Initially set is : ",set2)
a = set1.issuperset(set2)
b = set2.issuperset(set1)
print()
print("set1 is superset of set2: ",a)
print("set2 is superset of set1: ",b)

Initially set is : {'XYZ', 20.55, 'ABCD', 25, 10, 110.45}
Initially set is :  {10, 'XYZ', 'ABCD'}

set1 is superset of set2:  True
set2 is superset of set1:  False

In [ ]:
# isdisjoint() : The isdisjoint() method in Python returns True if two sets have no items in common, otherwise False. Sets are disjoint if and only if their intersection is the empty set.
# This function checks and returns whether invoking set object is disjoint of parameter set object or not . Returns Boolean .
# for ex :
set1 = {10,"ABCD",20.55,110.45,"XYZ",25}
set2 = {10,"ABCD","XYZ"}
print("Initially set is :",set1)
print("Initially set is : ",set2)
a = set1.isdisjoint(set2)
b = set2.isdisjoint(set1)
print()
print("set1 is disjoint of set2: ",a)
print("set2 is disjoint of set1: ",b)

Initially set is : {'XYZ', 20.55, 'ABCD', 25, 10, 110.45}
Initially set is :  {10, 'XYZ', 'ABCD'}

set1 is disjoint of set2:  False
set2 is disjoint of set1:  False

In [ ]:
#  --- Tuple Mehtods ---

# count() : This function returns the occurence count of specified element / object in invoking tuple object .
# for ex :
tup1 = (45,66,85,"ABCD",False,None,"XYZ",85)
a = tup1.count(85)
print(a)
b = tup1.count("IJKL")
print(b)

2
0

In [ ]:
# index() : This function returns index number of first occurrence of specified element / object in invoking tuple object .
tup1 = (45,66,85,"ABCD",False,None,"XYZ",85)
a = tup1.index('ABCD')
print(a)

3

In [ ]:
# If we want to print second occurence , then use second parameter as "after-index".
# for ex :
tup1 = (45,66,85,"ABCD",False,None,"XYZ",85)
a = tup1.index(85)
print(a)
b = tup1.index(85,a+1) # checks second occurence .
print(b)

2
7

In [ ]:
# Refer following program to find every occurence of 85 in tuple .
tup1 = (45,66,85,"ABCD",False,None,"XYZ",85,85,"IJK",85)
a = tup1.count(85)
if a==0:
  print("Not present")
else:
  i=1
  after_index = -1
  while i<=a:
    b = tup1.index(85,after_index+1)
    print(b)
    after_ind = b
    i = i + 1

2
2
2
2

In [ ]:
""" we know that , there are three types of variables : ( based on where we declare it)
    - local variable
    - global variable
    - block variable

    * to differentiate between local variable and global variable , we have to use the keyword "global" .
    for ex :
      def sample():
        global a <-- will start referring global 'a'
        a = 15 <-- will make change in global 'a
        print("This is sample")
        print("in simple , a =",a)

     print("main starts from here")
     a = 12 <-- is global 'a'
     print("in main , initially a =",a)
     sample()
     print("in main area,a =",a)
     print("main area ends")"""

In [ ]:
def sample():
        global a # <-- will start referring global 'a'
        a = 15 #<-- will make change in global 'a
        print("This is sample")
        print("in simple , a =",a)

print("main starts from here")
a = 12 #<-- is global 'a'
print("in main , initially a =",a)
sample()
print("in main area,a =",a)
print("main area ends")

main starts from here
in main , initially a = 12
This is sample
in simple , a = 15
in main area,a = 15
main area ends

In [ ]:
# Remember that , python don't allow external use of datatype to declare variables .
# Therefore , we must not use datatype while declaring formal parameters of fuction .
# we must declare formal parameters , just as names .
#  Similar to c/c++ , we must have to pass actual - parameter to such formal - parameters .
# ex :
def sample(roll,name):
  print("Roll=",roll)
  print("name=",name)

sample(20,"Prathamesh")

Roll= 20
name= Prathamesh

In [ ]:
# In C/C++/Java , we experience that if a function has multiple formal prameters , then we must have to remember the order of formal parameter ,and then pass actual parameter according to that order .
# But , python has the best option that , it allows to pass acutal parameter by the names of formal parameter .
# This process is known as keyword arguments .
# for ex :
def sample(roll,name,age,city):
  print("roll =",roll)
  print("name = ",name)
  print("age = ",age)
  print("city = ",city)

print("main starts form here ..")
sample(age=20,city="Pune",roll=122,name="Prathamesh")
print("main ends here")

main starts form here ..
roll = 122
name =  Prathamesh
age =  20
city =  Pune
main ends here

In [ ]:
 # another ex :

def addition(a,b):
  c = a + b
  d = a - b
  e = a * b
  f = a / b
  return c,d,e,f

print("main starts ")
a1,a2,a3,a4 = addition(45,22)
print("Addition is : ",a1)
print("Subraction is : ",a2)
print("Multiplication is :",a3)
print("Subraction is :",a4)
print()
print("Main ends")

main starts
Addition is :  67
Subraction is :  23
Multiplication is : 990
Subraction is : 2.0454545454545454

Main ends

In [ ]:
# Function with Default Arguments...

# Like C++ , here also we can provide formal parameter with default values . So that , it becomes optional to provide Actual parameter to such functions .
# for ex :

def temp(age=12,gender="M",average=65.22):
  print("Age is : ",age)
  print("gender is : ", gender)
  print("average is : ", average)

print("main starts form here..")
temp()
print("main ends here..")
print()

# above function temp() is with all default arguments .
# Therefore , it is optional to pass Actual parameter to it .
# If we have any updated value , then pass it otherwise it will continue with default values.
# If we have a combination of initialized formal parameter and uninitialized formal parameter , then such uninitialized formal parameter must be at teh beginning .(Left Side)
# If there are any uninitialized parameters , then we must have to pass Actual parameter to it .

def sample1(average,age=12,gender="M"):
  print("Age is :",age)
  print("gender is :",gender)
  print("average is : ",average)

sample1(45.22)
# Note that , the uninitialized formal parameter "average" is first parameter .

main starts form here..
Age is :  12
gender is :  M
average is :  65.22
main ends here..

Age is : 12
gender is : M
average is :  45.22

In [ ]:
# Variable Length Argument ...
# By using this facility , we can define a function that can receive any numbers of arguments.
# Simply declare a formal-parameter with * .
# For ex :
def addition(*a):
  b = sum(a)
  return b

print("main starts..")
ans = addition(10,30,40,36,32,14,56,65)
print(ans)

#  The Type of Formal Parameter 'a' will be 'Tuple'.

main starts..
283

In [ ]:
# *** If we want to Add normal Formal Parameter with such variable-length-arguments,then such normal formal parameter must be at the beginning .
# For ex :

def addition(sname,*a):
  print(sname)
  b = sum(a)
  print(a)
  return b

print("main starts")
ans = addition("Pratham",10,20,30,34,23,45,54,56)
print(ans)
# Here , Pratham will be assigned to sname and another the tuple of numbers is also assigned to a .

main starts
Pratham
(10, 20, 30, 34, 23, 45, 54, 56)
272

In [ ]:
# Variable Length Keyword Argument .
# The ** can be used to accept any number of keyword arguments. The keyword arguments are stored in a dictionary.

def display_anything(**a):
  for i in a:
    print(i + "=",a[i])

print("Main area starts...")
display_anything(sname='Ajay',sroll=15,sgen='Male',scity='Pune',savg=56.88)
display_anything(empname='vaishali',empsal=10000)
display_anything(btitle='Let Us C',bauthor="YK",bprice=235)
print("main area ends...")

Main area starts...
sname= Ajay
sroll= 15
sgen= Male
scity= Pune
savg= 56.88
empname= vaishali
empsal= 10000
btitle= Let Us C
bauthor= YK
bprice= 235
main area ends...

In [ ]:
# In python , we can even pass a function as Actual Parameter .
# for ex  :
def test(a): # <-- passed function is received in varaible 'a'.
  a()  # <-- calling function 'a'

def sayHello():
  print("Hello all")
  print("Hi all")

print("main area starts")
test(sayHello) # <-- passing fuction as AP.
print("main area ends..")

main area starts
Hello all
Hi all
main area ends..

In [ ]:
# In actual , we are not passing function . But in Python a function is also treated like a variable/object .
# Therefore , we are not passing function . But we are passing variable / object as parameter .
# Be careful , and don't use () while passing a function as Actual parameter .
# ex :
def test(a):
  a("Kuldeep")

def sayHello(nm):
  print("Hello all")
  print("Hi all ..")
  print("Name is : ",nm)

print("main starts form here ..")
test(sayHello)
print("main area ends..")

main starts form here ..
Hello all
Hi all ..
Name is :  Kuldeep
main area ends..

In [ ]:
# Nested functions ---

# Python allows to define nested functions .
# for ex :

addition = None # <-- making 'addition' as a global variable

def operations():
  global addition # <-- referring global 'addition'
  print("All operations here..")
  def addition(a,b): # <-- updating gobal 'additon' as a function
    print("Addition is : ",(a+b))
  def subraction(a,b):
    print("Subraction is :",(a-b))
  def Multiplication(a,b):
    print("Multiplication is : ",(a*b))
  def division(a,b):
    print("Division is : ",(a/b))
  print("from operations : ")
  addition(10,20)
  subraction(45,66)
  Multiplication(20,30)
  division(30,12)


print("main area starts ..")
operations()
addition(22,66) # <-- using global "addition"
print("main area ends..")

main area starts ..
All operations here..
from operations :
Addition is :  30
Subraction is : -21
Multiplication is :  600
Division is :  2.5
Addition is :  88
main area ends..

In [ ]:
# another ex :
additon = None


def operations():
  global addition
  print("All operations here ...")
  def additon(a,b):
    print("Addition is : ",(a+b))
  def subtraction(a,b):
    print("Subtraction is : ",(a-b))
  print("form operations: ")
  addition(10,20)
  subtraction(45,66)
  return subtraction  # <-- returning nested function 'subtraction'

print("main area starts..")
b = operations() # <-- receiving nested function 'subtraction' in 'b'
addition(22,66)
b(88,99) # <-- calling to 'b'
print("main area ends..")

main area starts..
All operations here ...
form operations:
Addition is :  30
Subtraction is :  -21
Addition is :  88
Subtraction is :  -11
main area ends..

In [ ]:
# Whenever we have to just define a function and if we want to work on it later then we just write 'pass' in it ..
# while we run the program it will not give any errors as the pass is written in functions .
def test():
  pass

print("Type of test is",type(test))

Type of test is <class 'function'>

In [ ]:
# Generators --

def city_names():
  print("Delhi")
  yield
  print("Mumbai")
  yield
  print("Pune")
  yield
  print("Ahmednagar")
  yield

a = city_names()

a.__next__()
a.__next__()
a.__next__()
a.__next__()

Delhi
Mumbai
Pune
Ahmednagar

In [ ]:
# A generator function can also return a value by using 'yield'.

def operations(a,b):
  print("Addition is :",(a+b))
  yield 55
  print("Subraction is :",(a-b))
  yield 66
  print("Multiplication is : ",(a*b))
  yield 77
  print("Division is : ",(a/b))
  yield 88

a = operations(45,3)
v1 = a.__next__()
v2 = a.__next__()
v3 = a.__next__()

print(v1)
print(v2)
print(v3)

Addition is : 48
Subraction is : 42
Multiplication is :  135
55
66
77

In [ ]:
"""
- The difference between 'return' and 'yield' is that the 'return' indicates end of function. It permanently returns the controls .
- Whereas , the 'yields' is only like pause in function. It will not considered as end-of-function.
-(Similar to Java's serialization concept).
- We can pass parameters to functions .
-The formal parameter doesn't have any specific data type . Therefore , the formal parameter can receive actual parameter of any datatype .
- There is no built - in facility to receive formal parameter of particular datatype .
-We have to manually check the datatupe of formal parameter by using isinstance() method . And then use if-else to take decision of specific datatype .
-The isinstance() method in Python is used to check if an object is an instance of a particular class or subclass. It takes two arguments: the object to be checked and the class or subclass to check against.
-For example, the following code checks if the object x is an instance of the int class:
    isinstance(x, int)
    - If the object x is an instance of the int class, the isinstance() method will return True, otherwise it will return False.

-The isinstance() method can also be used to check if an object is an instance of a subclass of a particular class. For example, the following code checks if the object x is an instance of the float subclass of the numeric class:
- for ex :
        isinstance(x, numeric.float)
        -If the object x is an instance of the float subclass of the numeric class, the isinstance() method will return True, otherwise it will return False.

The isinstance() method is a powerful tool that can be used to check the type of an object. It is often used in conjunction with the if statement to control the flow of a program.
"""
# for ex :
def check_even_odd(num):
  a = isinstance(num,int) # <-- will return True or either False
  if a == True:
    if num%2 == 0:
      print("is even")
    else:
      print("is odd")
  else:
    print("Type Error : function receives only integers, but",type(num),"is found")

check_even_odd(15.22)


# otherwise we can also use exception handling mechanism in Python , by using try-except blocks .

Type Error : function receives only integers, but <class 'float'> is found

In [ ]:
# --- Classes and objects ---

"""
We know that , an OOPL strongly supports classes to apply most of the object - oriented features .
But in Python , we have classes but only for the purpose of achieving reusability .
While defining a class in Python , don't think it like a class of C++ and java . Don't expect must OO features from Python class .

To define a class in Python , general syntax is :

      class CLASS_NAME:
          data-members
          and
          member functions

*  Must declare and define data-members and member functions in indentation of class .
"""

# for ex :

"""
class Test:
  a = 54
  b = "ABCD"
  c = None

  def accept_values(self):
    print("Enter any 3 values")
    self.a = input()
    self.b = input()
    self.c = input()

  def show_values(self):
    print("a=",self.a)
    print("b=",self.b)
    print("c=",self.c)
"""

"""
-Note that , the "self" will be an auto generated parameter of every member function .
-It is like 'this' pointer in C++ and Java .


** Strictly remember that , to internally use data - members and member functions we must must must use 'self'.

* To declare objects in Python:
      obj_name = class_name()

* For ex :
          t1 = Test()
          base = Tk()
          btn = Button()
          var = IntVariable()

* Remember that , the () is mendatory to declare object . It will internally call to default/auto-generated constructor .
* For ex , If we declare object of above class Test and call it's member-functions :

        print("main area starts..")
        t1 = Test()
        t1.accept_values()
        t1.show_values()
        print("main area ends")


* Similar to C++ and Java , When a member - function is called by using an invoking object , then here also the ID of invoking object gets passed as first parameter .
And which is received in "Self".

"""
class Test:
  a = 54
  b = "ABCD"
  c = None

  def accept_values(self):
    print("Enter any 3 values")
    self.a = input()
    self.b = input()
    self.c = input()

  def show_values(self):
    print("a=",self.a)
    print("b=",self.b)
    print("c=",self.c)

print("main area starts...")
t1 = Test()
print("ID of t1 is : ",id(t1))
t1.accept_values()
t1.show_values()
print("main area ends..")

main area starts...
ID of t1 is :  133130048692544
Enter any 3 values
Prathamesh
saniya
Neha
a= Prathamesh
b= saniya
c= Neha
main area ends..

In [ ]:
"""
* Similar , to other object oriented languages , here also we have constructor and destructor .
- In C++ and Java , the constructor has 3 characteristics:
      - must have same name as class name
      - cannot return
      - cannot be called manually . Automatically executes when an object is declaed.

- But these rules are not in Python . Here , we have :
      -must be named as __init__()
      -cannot return
      -Automatically executes when object is declared .
      -Can manually call to constructor(to reset to default values).

* we can also add any instance externally into an object.
* simply assign a value to it .

* Here , we cannot overload constructors and menthods .
* But , if we want to define something like overloaded consturctors , then we should make use of default-arguments and 'self' .

"""
# For ex :

class Test():
  x = None
  y = None
  z = None

  def __init__(self,x = 10,y = 20,z = 30):
    self.x = x
    self.y = y
    self.z = z

  def show_values(self):
    print("x = ",self.x)
    print("y = ",self.y)
    print("z = ",self.z)

print("main area starts..")
t1 = Test()
t2 = Test(45,55,65)

t1.show_values()
t2.show_values()

print("main area ends...")

# Note that , for object 't1' we did not passed any parameter . Then it continues with parameter's default values 10,20,and 30.
# And for object 't2' we passed 3 parameters . Now default values of parameters gets over-write by 45,55,65 .

main area starts..
x =  10
y =  20
z =  30
x =  45
y =  55
z =  65
main area ends...

In [ ]:
"""
In C++ we define destructor , with following characteristics:
  - must have same name as class name but followed by tilde(~) sign.
  - cannot be called manually . Automatically executes when scope of object expires.
  - cannot return .

* Here in Python also , We can define a destructor.
* Here we have :
      - must be defined as __del__()
      - Automatically executes when scope of object expires.
      - cannot be called manually .
      - allows to return value .
      - allows to define with parameters . (should be with default values)

"""
# For ex:

class Test:
  def __init__(self):
    print(" This is constuctor")

  def __del__(self):
    print("This is destructor")

print("main area starts..")
t1 = Test()
print("main area ends..")

main area starts..
 This is constuctor
main area ends..
This is destructor

In [ ]:
# ex 2 :

class Test():
  def __init__(self):
    print("This is constructor")

  def __del__(self,x=None):
    print("This is destructor")
    print("x = ",x)
    return 10

print("main area starts..")
t1 = Test()
a = t1.__del__(5555)
print("main area ends..")
print(a)

main area starts..
This is constructor
This is destructor
x =  5555
main area ends..
10
This is destructor
x =  None

In [ ]:
# We know that , we can define class with:
# - data members
# - member functions
# - constructors
# - destructors

# For ex :

class Test:
  x = None
  y = "ABCD"
  def __init__(self):
    print("This is constructor..")

  def accept_values(rushi): # we can write any name on the place of self , it is not compulsory to write only self we can write any name .
    rushi.x = input()
    rushi.y = input()

  def show_values(self):
    print("x = ",self.x)
    print("y = ",self.y)

  def __del__(self):
    print("This is destructor..")

print("main starts from here..")
t1 = Test()
t1.accept_values()
t1.show_values()
del t1 # explicitly calling destructor
print("main ends here..")

#Keep in mind that using __del__ explicitly is generally not recommended.
#It's better to rely on Python's garbage collector to handle object destruction.
# The __del__ method might not be called in some cases, so it's not guaranteed to behave like a typical destructor.

main starts from here..
This is constructor..
This is destructor..
pranav
raj
x =  pranav
y =  raj
main ends here..

In [ ]:
"""
* We know that , we can do inheritance of classes .
* Inheritance means , deriving properites of one class into another class .
* We have concepts of Base Class and Derived class .

* In python , we have all 5 types of inheritances .
  - Single Inheritance
  - Multiple Inheritance
  - Multilevel Inheritance
  - Hierarchical Inheritance
  - Hybrid Inheritance

* In java , we don't have multiple Inheritance . But in Python ,we can do multiple Inheritance .
* To inherit , we specify base class in () while defining derived class .

* For ex :
    class A:
      pass

    class B(A):
      pass

* Here , class "A" becomes base-class and class "B" becomes derived class . Makes single Inheritance .

* For ex :
          class A:
            def method1(self):
              print("This is method 1 of class A")

          class B:
            def method2(self):
              print("This is method 2 of class B")

          print("main area starts ..")
          b1 = B() # "b1" is the derived class B
          b1.method1()
          b1.method2()
          print("main area ends..")

* Note that , we have same old inheritance rules.
* Therefore  ,by using object of derived class we can access the members of Base-Class also .

** IMP **
- Unlike C++ and Java , when we declare object of derived class , the python will not automatically execute constructor of base class .
- Because of --> the name of constructor.
- It considers like method overriding .

* The execution of consturctor of base class from the object of derived class , must be manual .

* For ex :
          class A:
            def __init__(self):
              print("This is constructor of base class A..")

          class B(A):
            def __init__(self):
              A.__init__(self) # calling to base class constructor for same invoking object of derived class.
              print("This is constuctor of derived class B ..")

          print("main area starts..")
          b1 = B() # 'b1' is object of derived class B .
          print("main area ends...")

"""
class A:
  def __init__(self):
    print("This is constructor of base class A..")

class B(A):
  def __init__(self):
    A.__init__(self) # calling to base class constructor for same invoking object of derived class.
    print("This is constuctor of derived class B ..")

print("main area starts..")
b1 = B() # 'b1' is object of derived class B .
print("main area ends...")

main area starts..
This is constructor of base class A..
This is constuctor of derived class B ..
main area ends...

In [ ]:
# same concept is applied for destructor.
# The destructor of derived class must call to desturctor of base class for same invoking object .

# If constructor of base class is parameterized , then it is duty of constructor of derived class to pass parameters to it .
# For ex:
class A:
  def __init__(self,val1,val2): # parameterized constructor of base class .
    print("This is constructor of base class A")

class B(A):
  def __init__(self):
     A.__init__(self,11,23) # passing parameters to parameterized constructor of base class .
     print("This is constructor of  Derived class B")

print("main area starts ..")
b1 = B() # 'b1' is object of derived class B
print("main area ends ...")

main area starts ..
This is constructor of base class A
This is constructor of  Derived class B
main area ends ...

In [ ]:
# We can also do method - overriding .
# For ex :

class A:
  def method1(self):
    print("This is method1 of base class A.. ")

class B(A):
  def method1(self):
    print("This is method1 of derived class B..")

print("main area starts..")
b1 = B() # 'b1' is object of derived class B
b1.method1() # <-- calls to new overridden method of DC .
print("main area ends..")

main area starts..
This is method1 of derived class B..
main area ends..

In [ ]:
# In python we have multiple inheritance .

class A:
  def method1(self):
    print("This is method1 of class A")

class B:
  def method1(self):
    print("This is method1 of Derived class B ")

class C(B,A): # here in parameters priotity matters if we want to execute the method1 of class A we can write it first on the place of class B in parameters .
  def method3(self):
    print("This is method 3 of class C")

print("main starts from here..")
c1 = C()
c1.method1() # is ambiguous in C++ , but not in python .
c1.method3()
print("main ends here..")

main starts from here..
This is method1 of Derived class B
This is method 3 of class C
main ends here..

In [ ]:
# There is nothing like ambiguity error in multiple inheritance .
# The order of inheritance decides priority.
# We inherit as --> C(B,A) therefore method1() of first base class 'B' executes .

# If we need to define static member functions then we can do it by using a builtin's class 'staticmethod' .
# For ex :

from builtins import staticmethod

class A:
  def method1(self):
    print("This is method1 of class A")
  def method2(self):
    print("This is method2 of class A")
  @staticmethod
  def method3():
    print("This is static method3 of class A")

print("main starts from here..")
a1 = A()
a1.method1()
a1.method2()
A.method3() # <-- static method is called by using class name .
print("main ends here ..")

# static methods in Python are defined using the @staticmethod decorator and do not have the self parameter.
# This is because static methods are not bound to an instance of the class.
# They don't have access to the instance or its attributes; instead, they work with the class itself.

main starts from here..
This is method1 of class A
This is method2 of class A
This is static method3 of class A
main ends here ..

In [ ]:
# ---slicing ---

"""
                                           --- Slicing ---

Slicing is the process of dealing with index-numbers of any sequence / iterable with three parameters .
    - start index
    - end index
    - step [default value is +1]

when step is + ve  then :
    - start --> 0th index ( first letter )
    - end --> LENGTH ( last letter )

when step is -ve then :
    - default start --> LENGTH ( last letter )
    - default end --> 0th index ( first letter )

"""
# Example 1 :
s = "Sambhajinagar"
s1 = s[0:8]
print(s1)

# This will take a slice in 's1' from 0th index to 7th index .
# If we don't specify  STEP , then it's default value is + 1 .

Sambhaji

In [ ]:
# ex 2 :
s = "Prathameshdeshmukh"
s1 = s[0:8:2]
print(s1)
# This wil take a slice in 's' form 0th index to 7th index , by incrementing with +2.

Pahm

In [ ]:
# ex 3 :
s = "Prathameshdeshmukh"
s1 = s[:8]
print(s1)

# if we don't specify the starting index , then it will be by-default 0 .

Prathame

In [ ]:
# ex 4 :
s = "Aurangabad"
s1 = s[5:]
print(s1)
# If we don't specify the END-INDEX , then it's default value is LENGTH .

gabad

In [ ]:
# ex 5 :
s = "Indore is the cleanest city in India"
s1 = s[15::-1]
print(s1)
# this will print the string in reverse order from 15th to 0th index .

lc eht si erodnI

In [ ]:
# ex 6 :
s = "Indore is the cleanest city in India"
s1 = s[:11:-1]
print(s1)
# if we specify STEP  as -1 , then automatically the default value of START-INDEX becomes LENGTH and default value of END-INDEX becomes 0.

aidnI ni ytic tsenaelc e

In [ ]:
# ex 7 :
s = "Indore is the cleanest city in India"
s1 = s[::-1]
print(s1)
# When the step is -ve , then
# - default start --> LENGTH ( last letter )
# - default end --> 0 ( First letter )

aidnI ni ytic tsenaelc eht si erodnI

In [ ]:
# ex 8 :
s = "Indore is the cleanest city in India"
s1 = s[::]
print(s1)
# when the step is not mentioned . It is by default +1 .
# when the step is +ve then :
# - start--> 0th index ( first letter )
# - end --> LENGTH ( last letter )

Indore is the cleanest city in India

In [ ]:
"""
This slicing will work only for :
  - list
  - tuple
  - string

* will not work for:
  - set
  - dict
  [ Because these don't have pre-defined indexing]

"""

In [ ]:
# packages and modules :

"""
In Python, a module is a file that contains Python code. A package is a directory that contains one or more modules. Packages can also contain subpackages.
Modules are a way to organize your code and make it reusable. They can also be used to hide implementation details from other parts of your program.
Packages are a way to organize your code into larger units. They can also be used to avoid name collisions between modules with the same name.
"""

import math as mt

print(mt.sqrt(50)) # --> returns the square root of the number.
print(mt.pow(10,2)) # --> returns the pow of the number .

# The dir() function returns all properties and methods of the specified object, without the values.
#This function will return all the properties and methods, even built-in properties which are default for all object.

print(dir(mt))

7.0710678118654755
100.0
['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [ ]:
# we can aslo import the functions present in the packages .

from math import pi,sqrt,log2

print("The value of pi is : ",pi)
print("The sqrt of the value provided is : ",sqrt(20))
print("The logarithmic value is : ",log2(8))

# The math.log2() function is used to calculate the logarithm of a number with a base of 2.
#In other words, it tells you how many times you have to divide a number by 2 to get to 1.


# The math.ceil() function in Python returns the smallest integer greater than or equal to the number.
# For example, the ceil() of 3.6 would be 4, because 4 is the smallest integer greater than 3.6.
# ex :

print(mt.ceil(3.6)) # --> I have imported the math as mt in above program that's why i have used the mt in this case .


# The math.floor() function in Python rounds a number down to the nearest integer.
#For example, math.floor(3.14) will return 3.

print("The floor value 3.14 is : ",mt.floor(3.14))

# The math.copysign() function in Python takes two parameters and returns the first parameter's magnitude with the second parameter's sign.
# Here's an example of how to use it:

# Example 1
print(mt.copysign(10, -2))  # Output: -10.0
print(mt.copysign(-10, 2))  # Output: 10.0

# Example 2
print(mt.copysign(mt.pi, -1))  # Output: -3.141592653589793
print(mt.copysign(mt.pi, 1))  # Output: 3.141592653589793


# The math. fabs() method returns the absolute value of a number, as a float.
# Absolute denotes a non-negative number. This removes the negative sign of the value if it has any.

print(mt.fabs(5))  # 5.0
print(mt.fabs(-5))  # 5.0

The value of pi is :  3.141592653589793
The sqrt of the value provided is :  4.47213595499958
The logarithmic value is :  3.0
4
The floor value 3.14 is :  3
-10.0
10.0
-3.141592653589793
3.141592653589793
5.0
5.0

In [ ]:
# Python has a built-in os module with methods for interacting with the operating system, like creating files and directories,
# management of files and directories, input, output, environment variables, process management, etc.
# Their are lot's of methods in os module but i'll practice some of the important methods .

import os

print(os.getcwd()) # --> it will show us the current working directory .
# when we'll run this on jupyter notebook, it will show the path like :
# 'C:\\Users\\home\\Desktop\\jupyter\\AIML Internship\\Instructor files'


# os.chdir() :
#            it will change the current working directory .


# os.listdir() method in python is used to get the list of all files and directories in the specified directory.
#If we don’t specify any directory, then list of files and directories in the current working directory will be returned.

#os.mkdir("Test_folder") # os.mkdir() method in Python is used to create a directory named path with the specified numeric mode.
# This method raise FileExistsError if the directory to be created already exists.

os.listdir()

#os.rmdir() method in Python is used to remove or delete a empty directory.
#OSError will be raised if the specified path is not an empty directory.

#os.rmdir('Test_folder') --> the command is firstly processed . that's why it is commented .


dir(os)
# The os.name finds the name of the operating system dependent module.
#Registered names are posix, nt, java.

os.name

#os.environ in Python is a mapping object that represents the user’s environmental variables.
# It returns a dictionary having user’s environmental variable as key and their values as value.
# os.environ behaves like a python dictionary, so all the common dictionary operations like get and set can be performed.
# We can also modify os.environ but any changes will be effective only for the current process where it was assigned and it will not change the value permanently.
os.environ


 # os.getlogin():
  # --> os.getlogin() method in Python is used to get the name of the user logged in on the controlling terminal of the process.



#The os.getppid() function in Python returns the parent process ID (PID) of the current process. The PID is a unique identifier for a process. It is assigned to a process when it is created.
#The parent process is the process that created the current process.
os.getppid()

/content

81

In [ ]:
# import sys

import sys
print(sys.version)


# Command line arguments are those values that are passed during calling of program along with the calling statement.
# Thus, the first element of the array sys.argv() is the name of the program itself. sys.argv() is an array for command line arguments in Python.
#To employ this module named “sys” is used. sys.argv is similar to an array and the values are also retrieved like Python array.
sys.argv



#The sys.exit() function in Python is used to exit the Python interpreter.
#It raises a SystemExit exception, which, if not caught, causes the Python interpreter to quit.
# It's commonly used to manage the termination of Python programs, especially in multi-process applications.
#The sys.exit() function takes an optional argument, which is the exit status code.
#The exit status code is an integer that indicates the reason for termination.
#A code of 0 usually means that the program executed successfully, while a non-zero value indicates some sort of error or failure.
# ---- sys.exit----


# sys.winver :
"""
    The sys.winver function in Python returns the version number used to form registry keys on Windows platforms.
    This is stored as string resource 1000 in the Python DLL.
    The value is a string in the format major.minor.patch, where major is the major version number,
    minor is the minor version number, and patch is the patch level.
    For example, sys.winver would return 6.0.6001 for Windows 7.
"""


#The sys.flags attribute provides information about the startup flags with which Python was invoked.
#It returns a named tuple with boolean values indicating the state of different flags.
sys.flags



#The sys.prefix variable in Python is a string that gives the absolute path to the prefix directory of the Python installation.
# This directory usually includes bin and lib directories for executables and installed modules, respectively.
#The sys.prefix variable is set when the Python interpreter is started, and it cannot be changed by the program.
# However, the program can access the value of sys.prefix to determine where to find installed modules and other resources.
sys.prefix

dir(sys)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

['__breakpointhook__',
 '__displayhook__',
 '__doc__',
 '__excepthook__',
 '__interactivehook__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__stderr__',
 '__stdin__',
 '__stdout__',
 '__unraisablehook__',
 '_base_executable',
 '_clear_type_cache',
 '_current_exceptions',
 '_current_frames',
 '_deactivate_opcache',
 '_debugmallocstats',
 '_framework',
 '_getframe',
 '_git',
 '_home',
 '_xoptions',
 'abiflags',
 'addaudithook',
 'api_version',
 'argv',
 'audit',
 'base_exec_prefix',
 'base_prefix',
 'breakpointhook',
 'builtin_module_names',
 'byteorder',
 'call_tracing',
 'copyright',
 'displayhook',
 'dont_write_bytecode',
 'exc_info',
 'excepthook',
 'exec_prefix',
 'executable',
 'exit',
 'flags',
 'float_info',
 'float_repr_style',
 'get_asyncgen_hooks',
 'get_coroutine_origin_tracking_depth',
 'get_int_max_str_digits',
 'getallocatedblocks',
 'getdefaultencoding',
 'getdlopenflags',
 'getfilesystemencodeerrors',
 'getfilesystemencoding',
 'getprofile',
 'getrecursionlimit',
 'getrefcount',
 'getsizeof',
 'getswitchinterval',
 'gettrace',
 'hash_info',
 'hexversion',
 'implementation',
 'int_info',
 'intern',
 'is_finalizing',
 'last_traceback',
 'last_type',
 'last_value',
 'maxsize',
 'maxunicode',
 'meta_path',
 'modules',
 'orig_argv',
 'path',
 'path_hooks',
 'path_importer_cache',
 'platform',
 'platlibdir',
 'prefix',
 'ps1',
 'ps2',
 'ps3',
 'pycache_prefix',
 'set_asyncgen_hooks',
 'set_coroutine_origin_tracking_depth',
 'set_int_max_str_digits',
 'setdlopenflags',
 'setprofile',
 'setrecursionlimit',
 'setswitchinterval',
 'settrace',
 'stderr',
 'stdin',
 'stdlib_module_names',
 'stdout',
 'thread_info',
 'unraisablehook',
 'version',
 'version_info',
 'warnoptions']

In [ ]:
# datetime

from datetime import datetime,date,time

"""
The DateTime module is categorized into 6 main classes –

date – An idealized naive date, assuming the current Gregorian calendar always was, and always will be, in effect. Its attributes are year, month, and day.
time – An idealized time, independent of any particular day, assuming that every day has exactly 24*60*60 seconds. Its attributes are hour, minute, second, microsecond, and tzinfo.
date-time – It is a combination of date and time along with the attributes year, month, day, hour, minute, second, microsecond, and tzinfo.
timedelta – A duration expressing the difference between two date, time, or datetime instances to microsecond resolution.
tzinfo – It provides time zone information objects.
timezone – A class that implements the tzinfo abstract base class as a fixed offset from the UTC (New in version 3.2).

"""

curr = datetime.today()

print(datetime.now())

print(curr.year)

print(curr.month)

print(curr.day)

datetime(1999,1,19)

curr - datetime(1999,1,19)

2024-01-08 12:05:44.886091
2024
1
8

datetime.timedelta(days=9120, seconds=43544, microseconds=886053)

In [ ]:
import datetime

print(datetime.MAXYEAR)
print(datetime.MINYEAR)
dir(datetime)

9999
1

['MAXYEAR',
 'MINYEAR',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [ ]:
# ------ File handling basics --------------
"""
This is the 3rd file of python_practice of Data Science and Machine Learning program .
- We will going to learn file handling in this file .

Step 1 : Open file in required mode .
step 2 : perform operations.
step 3 : close that file .

- There are two types of files :
        - Plain text file : no text formatting
        - Rich text file : allows text formatting

- To open a file  ,we have open() function .
- This function requires two parameters :
            - file name with extension .
            - file opening mode (default 'r' mode ).

- This function returns an object which we can use to work with that file .
 # For ex :
    ob = open("testfile.txt","w")
    print(type(ob))

- This object 'ob' is totally responsible to do any operations on 'testfile.txt' .

# For ex :
    ob1 = open("testfile1.txt","w")
    ob2 = open("file2.txt","w")

- To do any operation on 'testfile1.txt' we have to use 'ob1'
- To do any operation on 'file2.txt' we have to use ob2 .


*** File opening modes:
1 . 'r' --> read mode
- if we open a file in read mode , then we can only perform read operations from it .
- if we open a file in read mode , then that file must exist .
- if that file is not present then shows error .

2. 'w' --> write mode - if we open a file in write mode , then we can only perform write operation in it. - if we
open a file in write mode and that file does not exists , then automatically creates new blank file with that name.
- if we open a file in write mode and that file already exists then it gets truncated . (old data gets deleted)

3. 'a' --> append mode - if we open a file in append mode , then we can only perform write operation . - if we open a
file in append mode, and that file does not exists , then automatically creates new blank file with that name. - if
we open a file in append mode , and that file already exists then simply that file gets opened to write . old data
remains .

4. 'r+' --> opens the file for both reading and writing .

5. 'a+' --> opens the file for both appending and reading .

# "+" is string-concatenation operator  . if you don't convert each element to a string before writing it to the file,
you may encounter a TypeError because the write method expects a string as an argument. In your case, the elements in
the list ls are integers, so you need to convert them to strings using str().

"""


# Ex 1 :
ls = [1,2,3,4,5,6,7,8,9,10]
ob = open("testfile1.txt","w")
for ele in ls:
    ob.write(str(ele) + "\n")
ob.close()



# the random() function is covered in previous file .

In [ ]:
# ex 2 :
# we can also give the whole path of the file to the open function. and if the file is not present then it creates a
# new file automatically . In the output we'll see the print statement is in upper case , because in the nextfile
# which is example2.py we have taken this testfile2.txt  which will convert the file's data to upper case .

ls = [1,2,3,4,5,6,7,8,9,10]
ob = open("C:/Users/Home/PycharmProjects/python_practice3/testfile2.txt","w")
for ele in ls:
    ob.write("value of ele is : " + str(ele) + "\n" )
ob.close()

In [ ]:
"""
- firstly we wil open a file in read mode , then read the data and put the readed data to another file .
- Then we apply the upper() method to convert the readable data to uppercase and store it in another variable / object .
- Then we close that file .
- Then we open the same file in write mode , and pass the  'ndata' variable to the write function and close that file .
"""
ob = open("C:/Users/Home/PycharmProjects/python_practice3/testfile2.txt","r")
fdata = ob.read()
ndata = fdata.upper()
ob.close()
ob2 = open("C:/Users/Home/PycharmProjects/python_practice3/testfile2.txt","w")
ob2.write(ndata)
ob2.close()

In [ ]:
"""
* Remember :
- Use of "\n" , "\t" , "\b" ... are valid in file handling .

-In Python, \n, \t, and \b are escape sequences that represent special characters in strings. When used in file
handling or any string manipulation, they have specific meanings:

1  . \n: Represents a newline character. When used in a string, it creates a new line, causing the text that follows
it to start on a new line.

Example 1:
        with open("example.txt", "w") as file:
         file.write("Line 1\nLine 2\nLine 3")

Output :
        Line 1
        Line 2
        Line 3


2  . \t: Represents a tab character. When used in a string, it inserts a horizontal tab.

Example 2:
            with open("example.txt", "w") as file:
            file.write("Name\tAge\tCity")

Output:
            Name    Age    City

3 . \b: Represents a backspace character. When used in a string, it moves the cursor back one position.

Example:
            with open("example.txt", "w") as file:
            file.write("Hello\bWorld")

Output :
            HellWorld

"""

a = 15
ob = open("testfile3.txt","w")

ob.write("Hello all.. \n")
ob.write("Hi all..\n")
ob.write("value of a is " + str(a) + "\n")
ob.write("Good day..\n")

ob.close()
print("Data is written into file...")

Data is written into file...

In [ ]:
"""
- Write a program to accept details of 5 students from the user and write those details into file with a proper
message .

- Step 1 : Open file in 'w' or 'a' mode .
- step 2 : prepare while loop for 5 iterations and accept details of students in it .
- step 3 : after accepting details , write those values into file with proper message .
- step 4 : close the file when loop stops .

"""

ob = open("testfile4.txt","w")
i = 1
while i <= 5 :
    roll = input("Enter Roll number : ")
    name = input("Enter name : ")
    avg = input("Enter average : ")
    ob.write("Roll number is : " + roll + "\n")
    ob.write("Name is : " + name + "\n")
    ob.write("Average is : " + avg + "\n" + "\n")
    i = i + 1
ob.close()

Enter Roll number : 71
Enter name : Neha
Enter average : 80.00
Enter Roll number : 72
Enter name : Shrutika
Enter average : 80.00
Enter Roll number : 73
Enter name : Dhiraj
Enter average : 80.00
Enter Roll number : 74
Enter name : Raj
Enter average : 88.00
Enter Roll number : 75
Enter name : 90.00
Enter average : 90.00

In [ ]:
"""
Write a program to accept 5 different numbers from the user and calculate their square and cube . Write this data
in file with proper message .

"""
ob = open("testfile5.txt","w")
i = 1
while i <=5 :
    num = int(input("Enter a number"))
    s = num * num
    c = num * num * num

    ob.write("Number is :" + str(num) + "\n")
    ob.write("Square is :" + str(s) + "\n")
    ob.write("cube is : " + str(c) + "\n" + "\n")
    i = i + 1
ob.close()

Enter a number50
Enter a number20
Enter a number10
Enter a number30
Enter a number40

In [ ]:

# Same example5.py but with different output .

ob = open("testfile6.txt","w")
i = 1
while i <=5 :
    num = int(input("Enter a number"))
    s = num * num
    c = num ** 3

    ob.write("The number is : " + str(num)  +" , " + "The square is :" + str(s) + " , " + "The cube is : " + str(c) + "\n")
    i = i + 1
ob.close()

Enter a number30
Enter a number20
Enter a number10
Enter a number40
Enter a number50

In [ ]:
"""
We can also ask User to give the name to the file . ( with extension )
"""

print("Enter the file name , you want to create ( with extension ):")
fname = input()
ob = open(fname,"w")

print("File created ..")
print("Start writing into file..")
data = input()

ob.write(data)
ob.close()

print("Data written successfully..")

Enter the file name , you want to create ( with extension ):
testfile7.txt
File created ..
Start writing into file..
Heyy ! This file is generated through user's convinience .
Data written successfully..

In [ ]:
"""
-----   Read - Write functions in file handling -------

* functions related to write operation :
1 . Write() :
* This function writes specified string into related file through invoking object .
* This function strictly requires string parameter .
* If we are writing any variable , then we must convert it into string .

2 . writelines() :
* This function writes the element of specified sequence / iterable directly into file .
* Strictly the parameter of this function must be a sequence / iterable .

"""
# ex : of write function , and in the next file we'll do example of writelines() function .
a = 15
ob = open("testfile8.txt","w")
ob.write("Hello World..")
ob.write("Hi all ..")
ob.write("Value of a : " + str(a) + "\n")
ob.write("Good day ..")
ob.close()
print("Data Written into file ..")

Data Written into file ..

In [ ]:
# This is the example of writelines() function .
# This function writes the elements of specified sequence / iterable directly into file .
# Strictly the parameter of this function must be a sequence / iterable .
# for ex :
ob = open("testfile9.txt","w")
ls = ["Hello-1\n","Hello-2\n","Hello-3\n","Hello-4\n"]
ob.writelines(ls)
ob.close()

In [ ]:
"""
* Functions related to read operations:
1 . read() :
- This function reads and returns entire data of file as single string value .

2 . readline() :
- This function reads single line (where READ cursor is pointing ) and drops the READ cursor to the next line .

3 . readlines() :
- This function reads and returns file data as list where each line becomes elements of list .
"""
# example of read():
ob = open("testfile7.txt","r")
a = ob.read()
print(a)
ob.close()

Heyy ! This file is generated through user's convinience .

In [ ]:
# example of Readline() :
ob = open("testfile7.txt","r")
a = ob.readline()
print(a)
ob.close()

Heyy ! This file is generated through user's convinience .

In [ ]:
# readlines() :
# This function reads and returns file data as list where each line becomes element of list .
# for ex :
ob = open("testfile7.txt","r")
a = ob.readlines()
print(a)
ob.close()

["Heyy ! This file is generated through user's convinience . "]

In [ ]:
# slicing is already done above .

In [ ]:
import datetime

def add_new_book():
  bnum = input("Enter Book Number : ")
  btitle = input("Enter book Title : ")
  bauthor = input("Enter book Author : ")
  bpub = input("Enter book Publication :")

  ob = open("all_books.txt","a")
  ob.write(bnum + "," + btitle + "," + bauthor + "," + bpub + "\n")
  ob.close()
  print("New book's Data Saved..")


def add_new_student():
  senr = input("Enter Enrollment Number : ")
  sname = input("Enter Student Name : ")
  semail = input("Enter Student Email : ")
  smob = input("Enter student Mobile :")
  sclass = input("Enter student Class : ")

  ob = open("all_students.txt","a")
  ob.write(senr + "," + sname + ","  + semail + "," + smob + "," + sclass + "\n")
  ob.close()
  print("New student data saved...")


def view_book_history():
  bnum = input("Enter Book Number , Whose history you want to print :")

  ob = open("issued_books.txt","r")
  ls = ob.readlines()
  ob.close()

  for val in ls :
    ls2 = val.split(",")
    if ls2[1] == bnum:
      print(ls2[0] + "\t" + ls2[2] + "\t" + ls2[3])



def view_student_history():
  senr = input("Enter Enrollment Number of student, Whose history you want to print : ")

  ob = open("issued_books.txt","r")
  ls = ob.readlines()
  ob.close()

  if len(ls) >= 3:
    for val in ls :
      ls2 = val.split(",")
      if ls2[0] == senr:
        print(ls[1] + "\t" + ls[2] + "\t" + ls[3] )


def search_student():
  print("\t How you want to search a Student")
  print("\t 1- Search By Student Enrollment Number : ")
  print("\t 2- Search By Student Name  :")
  print("\t 3- Search By Student Email : ")
  print("\t 4- Search By Stuent Mobile Number : \n")

  ch = input("Enter your Choice ..")

  ob = open("all_students.txt","r")
  ls = ob.readlines()
  ob.close()

  if ch==1 :
    enroll = input("Enter the Enrollment Number of the Student : \n")
    for val in ls :
      ls2 = val.split(",")
      if ls2[0] == enroll:
        print("\t" + val[1] + "\t" + val[2] + "\t" + val[3])
        break


  elif ch ==2:
    stud = input("Enter the Name of the Student : \n")
    for val in ls :
      ls2 = val.split(",")
      if ls2[1] == stud:
        print("\t" + val[0] + "\t" + val[2] + "\t" + val[3])

  elif ch==3:
    semail = input("Enter the Email of the Student : \n")
    for val in ls :
      ls2 = val.split(",")
      if ls2[2] == semail:
        print("\t" + val[0] + "\t" + val[1] + "\t" + val[3])

  elif ch==4:
    smob = input("Enter the Mobile Number of the Student : \n")
    for val in ls :
      ls2 = val.split(",")
      if ls2[3] == smob:
        print("\t" + val[0] + "\t" + val[1] + "\t" + val[2])



def search_book():
  print("\t How you want to Search the book : ")
  print("\t 1-Search By Book Number : ")
  print("\t 2-Search By Book Title : ")
  print("\t 3-Search By Book Author : ")
  print("\t 4-Search By Book Publication : \n")

  ch = int(input("\t Provide your choice : "))

  ob = open("all_books.txt","r")
  ls = ob.readlines()
  ob.close()


  if ch==1:
    # Search by Book Number
    bnum = input("\t Enter Book Number to Search for : ")
    for val in ls :
      ls2 = val.split(",")
      if ls2[0] == bnum:
        print("\t" + ls2[1] + "\t" + ls2[2] + "\t" + ls2[3])
        break

  elif ch==2:
    # search by title
    btitle = input("\t Enter Book Title to Search For : ")
    for val in ls :
      ls2 = val.split(",")
      if ls2[1] == btitle:
        print("\t " + ls2[0] + "\t" , ls2[2] + "\t" + ls2[3])


  elif ch==3:
    # search by author
    bauth = input("\t Enter Book Author Name to Search For : ")
    for val in ls :
      ls2 = val.split(",")
      if ls2[2] == bauth:
        print("\t " + ls2[0] + "\t" , ls2[1] + "\t" + ls2[3])


  elif ch==4:
    # search by Publicaitons
    bpub = input("\t Enter Book Publications to Search For : ")
    for val in ls :
      ls2 = val.split(",")
      if ls2[3] == bpub + "\n":
        print("\t " + ls2[0] + "\t" , ls2[1] + "\t" + ls2[2])



def view_not_returned_books():
  ob = open("issued_books.txt","r")
  for line in ob :
    ls = line.split(",")
    if ls[3] == "None\n":
      print(ls[0] + "\t" + ls[1] + "\t" + ls[2])
  ob.close()


def issue_book():
  idate = str(datetime.date.today())
  enr_num = input("Enter Student's Enrollment Number : ")
  book_num = input("Enter Book Number :")

  ob = open("issued_books.txt","a")
  ob.write(enr_num + "," + book_num + "," + idate + "," + "None" + "\n")
  ob.close()
  print("Book Issued ...")


def return_book():
  ob = open("issued_books.txt","r")
  ls = ob.readlines()
  ob.close()

  ret_bk = input("Enter Book Number to Return : ")

  i = 0
  for val in ls :
    ls2 = val.split(",")
    if ls2[1] == ret_bk and ls2[3] == "None\n":
      ls2[3] = str(datetime.date.today())
      new_str = ls2[0] + "," + ls2[1] + "," + ls2[2] + "," + ls2[3] + "\n"
      ls[i] = new_str
      print("Book Returned...")
      break
    i = i + 1

    ob = open("issued_books.txt","w")
    ob.writelines(ls)
    ob.close()


# main program starts form here
while True:
  print()
  print("Select Operation")

  print("1 - Issue Book")
  print("2 - Return Book")
  print("3 - Search Book")
  print("4 - Search Student")
  print("5 - View Book History")
  print("6 - View Student History")
  print("7 - Add New Book")
  print("8 - Add New Student")
  print("9 - View Not Returned Books")
  print("0 - Exit")

  ch = int(input("Provide your choice :"))

  if ch==1:
    issue_book()
  elif ch==2:
    return_book()
  elif ch==3:
    search_book()
  elif ch==4:
    search_student()
  elif ch==5:
    view_book_history()
  elif ch==6:
    view_student_history()
  elif ch==7:
    add_new_book()
  elif ch==8:
    add_new_student()
  elif ch==9:
    view_not_returned_books()
  elif ch==0:
    break # or "exit" will also work here