In [ ]:
#tuples - colletion,comma separated,()
- immutable and fast

In [ ]:
#first way
tup = (1,2,5,7,8,10,'hello')

In [ ]:
type(tup)

tuple

In [ ]:
print(tup)

(1, 2, 5, 7, 8, 10, 'hello')

In [ ]:
1. indexing
2. slicing
3.No assignmnet or alteration properties
4. sorting
5. len
6.sum
7. min
8.max

In [ ]:
tup[0]

1

In [ ]:
tup[-1:-4:-1]

('hello', 10, 8)

In [ ]:
tup[-1] = 'hi'

TypeError: ignored

In [ ]:
len(tup)

7

In [ ]:
sum(tup)

TypeError: ignored

In [ ]:
tup1 = (1,2,5,7,8,10)
print(tup1)

(1, 2, 5, 7, 8, 10)

In [ ]:
sum(tup1)

33

In [ ]:
min(tup1)

1

In [ ]:
max(tup1)

10

In [ ]:
#sorting
sorted(tup1) #sorted() function returns the o/p in list format

[1, 2, 5, 7, 8, 10]

In [ ]:
sorted(tup1,reverse=True)

[10, 8, 7, 5, 2, 1]

In [ ]:
tup1.sort()

AttributeError: ignored

In [ ]:
#set - collection,comma-separated,enclosed within {},contains only unique elements, unordered
#two way - {}, set()

In [ ]:
#1.doesn't support indexing
#2. doesn't suport slicing
3.sorting
4. len
5. sum
6. min
7. max

In [ ]:
# using the {}
x = {1,2,3,5,2,7,8,1}

In [ ]:
type(x)

set

In [ ]:
print(x)

{1, 2, 3, 5, 7, 8}

In [ ]:
x[4]

TypeError: ignored

In [ ]:
#sorting
sorted(x)

[1, 2, 3, 5, 7, 8]

In [ ]:
x.sort()

AttributeError: ignored

In [ ]:
len(x)

6

In [ ]:
sum(x)

26

In [ ]:
min(x)

1

In [ ]:
max(x)

8

In [ ]:
lst = [12,34,56,13,12,56]
print(lst)

[12, 34, 56, 13, 12, 56]

In [ ]:
set(lst)

{12, 13, 34, 56}

In [ ]:
#union
#intersection
#difference
#symmetic differnce

In [ ]:
a ={6,5,4,2,1}
b = {8,7,6,5,3}

In [ ]:
a

{1, 2, 4, 5, 6}

In [ ]:
b

{3, 5, 6, 7, 8}

In [ ]:
#intersection - common elements between two or more sets
a.intersection(b)

{5, 6}

In [ ]:
#union
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
a.difference(b) #removing the common elements from a

{1, 2, 4}

In [ ]:
b.difference(a)

{3, 7, 8}

In [ ]:
print(a)
print(b)

{1, 2, 4, 5, 6}
{3, 5, 6, 7, 8}

In [ ]:
a.symmetric_difference(b)

{1, 2, 3, 4, 7, 8}

In [ ]:
b.symmetric_difference(a)

{1, 2, 3, 4, 7, 8}

In [ ]:
#dictionary - collection,key and value pair,key-value pair separated by colon(:),pairs are comma sepatrated, enclosed within {}
two way - dict(),{}

In [ ]:
#dictionary
d = {'name':'John','age':40,'city':'Delhi','country':'India'}

In [ ]:
type(d)

dict

In [ ]:
print(d)

{'name': 'John', 'age': 40, 'city': 'Delhi', 'country': 'India'}

In [ ]:
d.keys()

dict_keys(['name', 'age', 'city', 'country'])

In [ ]:
d.values()

dict_values(['John', 40, 'Delhi', 'India'])

In [ ]:
d.items()

dict_items([('name', 'John'), ('age', 40), ('city', 'Delhi'), ('country', 'India')])

In [ ]:
d['city']

'Delhi'

In [ ]:
d['name']

'John'

In [ ]:
d['age'] = 32

In [ ]:
print(d)

{'name': 'John', 'age': 32, 'city': 'Delhi', 'country': 'India'}

In [ ]:
d['salary'] = 20000

In [ ]:
print(d)

{'name': 'John', 'age': 32, 'city': 'Delhi', 'country': 'India', 'salary': 20000}

In [ ]:
d['salary'] = 40000

In [ ]:
d

{'name': 'John',
 'age': 32,
 'city': 'Delhi',
 'country': 'India',
 'salary': 40000}

In [ ]:
d.popitem()

('salary', 40000)

In [ ]:
d

{'name': 'John', 'age': 32, 'city': 'Delhi', 'country': 'India'}

In [ ]:
d.pop('city')

'Delhi'

In [ ]:
print(d)

{'name': 'John', 'age': 32, 'country': 'India'}

In [ ]:
d = {'name': 'John', 'age': 32, 'city': 'Delhi', 'country': 'India', 'salary': 20000}

In [ ]:
print(d)

{'name': 'John', 'age': 32, 'city': 'Delhi', 'country': 'India', 'salary': 20000}

In [ ]:
d['name']

'John'

In [ ]:
list(d.items())[2]

('city', 'Delhi')

In [ ]:
dict1 = {'key':'value'}

In [ ]:
dict1['key']

In [ ]:
d.values()

dict_values(['John', 32, 'Delhi', 'India', 20000])

In [ ]:
d = {'name':['Ram','Yash','John'],
     'section':['A','B','A'],
     'Roll no':[12,34,1],
     'marks':[56,45,60]}

In [ ]:
d

{'name': ['Ram', 'Yash', 'John'],
 'section': ['A', 'B', 'A'],
 'Roll no': [12, 34, 1],
 'marks': [56, 45, 60]}

In [ ]:
d['marks']

[56, 45, 60]

In [ ]:
d.popitem()

('marks', [56, 45, 60])

In [ ]:
print(d)

{'name': ['Ram', 'Yash', 'John'], 'section': ['A', 'B', 'A'], 'Roll no': [12, 34, 1]}

In [ ]:
#control flow -

In [ ]:
you have to print "hello world" 7 times?

In [ ]:
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
print("hello world"*7)

hello worldhello worldhello worldhello worldhello worldhello worldhello world

In [ ]:
#control flow statements -
1. conditional statements- if we have to apply any condtion or have to check any condition
2. looping statements - if we have to do repeatedly 10 times,100 times so on

In [ ]:
# conditional statement - if, elif - else if, else
if condtion1:
  statement
elif condtion2:   #else if
  statement
else:
  statement

In [ ]:
# I have a two values a= 45 and b= 34 and have to check which is bigger one and print it

In [ ]:
a= int(input("Enter value for a:"))
b = int(input("Enter value for b:"))

Enter value for a:100
Enter value for b:100

In [ ]:
if a > b:
  print("a is bigger than b")
elif a == b:
  print("a is equal to b")
else:
  print("b is bigger than a ")

a is equal to b

In [ ]:
if a<b:
  print("a is smaller than b")
elif a==b:
  print("a is equal to b")
else:
  print("a is bigger than b")

a is equal to b