In [ ]:
print("printing the message hello world")

printing the message hello world

In [ ]:
!pip install keras

Requirement already satisfied: keras in /usr/local/lib/python3.10/dist-packages (2.14.0)

In [ ]:
import tensorflow as tf
tf.test.gpu_device_name()

'/device:GPU:0'

In [ ]:
!pip install keras

Requirement already satisfied: keras in /usr/local/lib/python3.10/dist-packages (2.14.0)

 Python basics Day 2

In [ ]:
a = 10 # addition
b = 20
c = a + b
print("Addition is " ,c)
d = a - b # subtraction
print("Subtraction is " ,d)
e = a / b #division
print("Division is " , e)
f = a * b
print("Multiplication is" , f)
g = a // b
print("floor division is " , g)
h = a % b
print("modulas is" , h)

30

Python basics Day 2

In [ ]:
a = int(input("Enter the value for first variable"))
b = int(input("Enter the value for second variable"))
c = a + b
d = a - b
e = a / b
f = a * b
g = a // b
h = a % b
print("The addition is" , c)
print("The subtraction is" , d)
print("The division is" , e)
print("The Multiplication is" , f)
print("The floor division is", g)
print("The modulas is ", h)

Enter the value for first variable2
Enter the value for second variable4
The addition is 6
The subtraction is -2
The division is 0.5
The Multiplication is 8
The floor division is 0
The modulas is  2

Python basics Day 2

In [ ]:
a = 3
b = 5
c = 2
value = a + b
value_2 = c -1
value_3 = b - c
value_4 = a * 2
value_5 = value * value_2
value_6 = value_3 / value_4
value_7 = value_5 / value_6
print(value_7)

16.0

In [ ]:
ob = open("testfile.txt","w")
print(type(ob))

<class '_io.TextIOWrapper'>

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if j<=i:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*
**
***
****

In [ ]:
for i in range(4):
  print("*"*(i+1))

*
**
***
****

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if i<=j:
      print("*",end="")
    else:
      print(" ",end="")
  print()

****
 ***
  **
   *

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if j>=5-i:
      print("*",end="")
    else:
      print(" ",end="")
  print()

   *
  **
 ***
****

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if j<=5-i:
      print("*",end="")
    else:
      print(" ",end="")
  print()

****
***
**
*

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if j<=i:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*
**
***
****

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if j<=5-i:
      print("*",end="")
    else:
      print(" ",end="")
  print()

****
***
**
*

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if j>=i:
      print("*",end='')
    else:
      print(" ",end='')
  print()

****
 ***
  **
   *

In [ ]:
for i in range(1,5):
  for j in range(1,8):
    if j>=5-i and j<=3+i:
      print("*",end="")
    else:
      print(" ",end="")
  print()

   *
  ***
 *****
*******

In [ ]:
for i in range(1,5):
  for j in range(1,8):
    if j>=i and j<=8-i:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*******
 *****
  ***
   *

In [ ]:
for i in range(1,5):
  for j in range(1,8):
    if j<=5-i or j>=3+i:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*******
*** ***
**   **
*     *

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if j<=i:
      print(j,end='')
    else:
      print(" ",end="")
  print()

1
12
123
1234

In [ ]:
for i in range(1,6):
  k=6-i
  for j in range(1,6):
    if j<=6-i:
      print(k,end="")
      k-=1
    else:
      print(" ",end="")
  print()

54321
4321
321
21
1

In [ ]:
ls = []

while True:
  bikes = input("Enter the names of bikes ..")
  a = input("Enter y/Y for not putting the values")
  if a == "y" or a == "Y":
    break
  if bikes == "stop":
    break
  ls.append(bikes)
print(ls)

Enter the names of bikes ..honda
Enter y/Y for not putting the valueshonda
Enter the names of bikes ..honda
Enter y/Y for not putting the valueshonda
Enter the names of bikes ..honda
Enter y/Y for not putting the valueshonda
Enter the names of bikes ..honda
Enter y/Y for not putting the valuesy
['honda', 'honda', 'honda']