In [ ]:
#This sheet is only for the practice of python from the very basics.
#Input statements: This input() function reads the input form console (output screen) and return's . Therefore, we have to receive that returned
# value into a variable/reference. ex: a = input().
""" but the thing is , python reads and returns every input as string . Therefore , we have to parse / convert the input string value into required datatype
Datatypes: int , float , string , boolean etc """

# write a program to accept two no's from the user and perform their addition.
print("Enter two numbers")
a = int(input())
b = int(input())
c = a + b
print("Addition is :",c)

Enter two numbers
100
20000
Addition is : 20100

In [ ]:
# Arithmetic Operators:
""" +(Addition) , -(Subtraction) , *(Multiplication) , %(Modulas,Modulae) , /(Division) , //(Floor division) , **(For power)
In python, we have total 7 arithematic operators,here we have directly (**) as power operator . For this opearator left operand is base and right
operadn is power. In other programming languages, int / int is integer but in python int / int is the original value (float).
Here we have special division opertor ( // ) called as floor division . This operator performs division and results integer value """

# write a program to accept a number from the user and print its square and cube .
print("Enter the number")
a = int(input())
b = a**2
c = a**3
print("The square of the no. is ", b , "and the cube of the number is ", c)

Enter the number
50
The square of the no. is  2500 and the cube of the number is  125000

In [ ]:
# write a program to accept two no's from the users and perform all aritematic operations on them .
print("Enter the 2 Numbers")
a = int(input())
b = int(input())
c = a + b
d = a - b
e = a * b
f = a % b
g = a ** b
h = a / b
i = a // b
print("The addition is:", c)
print("The Subtraction is:", d)
print("The multiplication is:",e)
print("The modulas is:", f)
print("The Power is:", g)
print("The Division is :", h)
print("The floor division is:", i)

Enter the 2 Numbers
20
30
The addition is: 50
The Subtraction is: -10
The multiplication is: 600
The modulas is: 20
The Power is: 1073741824000000000000000000000000000000
The Division is : 0.6666666666666666
The floor division is: 0

In [ ]:
# write a program to accept marks of 3 subjects of a student and print the total marks and average marks.
print("Enter the marks of 3 subjects")
a = int(input())
b = int(input())
c = int(input())
total = a + b + c
avg = total / 3
print("The total marks of the 3 subjects is :", total , "and the Average is :", avg)

Enter the marks of 3 subjects
90
93
97
The total marks of the 3 subjects is : 280 and the Average is : 93.33333333333333

In [ ]:
# In python , for giving comments we have two options.
# '#' is for single line comment
"""  this is for multiline comment , we can write n no. of statements in it """

# write a program to accept radius of a circle in float and print area and circumference fo the circle .
print("Enter the radius of the circle in Float")
r = float(input())
area = 3.14 * r * r
circum = 2 * 3.14 * r
print("The area of the circle is : ",area , "circumference of the circle is :",circum)

Enter the radius of the circle in Float
4.15
The area of the circle is :  54.07865000000002 circumference of the circle is : 26.062000000000005

In [ ]:
# write a program to accept roll no , name , avg marks , and contact no of a student and print them with proper message.
print("Enter the roll no of the student")
roll = int(input())
print("Enter the name of the student")
name = input()
print("Enter the avg marks of the student")
avg = float(input())
print("Enter the contact no. of the student")
con = int(input())
print("The roll no. of the student is",roll)
print("The Name of the student is ",name)
print("The avg marks of the student is ",avg)
print("The contact no . of the student is",con)

Enter the roll no of the student
30
Enter the name of the student
Prathamesh
Enter the avg marks of the student
91.57
Enter the contact no. of the student
1001001000
The roll no. of the student is 30
The Name of the student is  Prathamesh
The avg marks of the student is  91.57
The contact no . of the student is 1001001000

In [ ]:
# python has 35 keywords, unnecessary spaces are not allowed in python
# spaces are also called as indent or indentation.
# Every python program or file is called as module and the folder is called as package or library.
# we can directly include / import any existing module by using keyword import (import module_name)
"""
In pycharm , --> open terminal
pip install (______) ---> any module to install
cmd --> python -m pip install ______
ipynb --> Interactive python notebook
pip install notebook
pip install voila
pip install jupyterlab
pip install jupyterlab is an combination of both notebook and jupyter.
prefer to download the jupyterlab in cmd.
"""
# pass : used for keeping the blank function or condition .
""" ex:
        def example:
            pass
        if condition:
            pass

"""
# comment in python:
""" we know that comments are the statements that neither compiles nor executes. generally , we put comments to indicate / explain any logical block
  or decisions . Similar to other programming languages we have two types of comments in python .
  1: Single line comment
  2: Multiline comment

  Single line comment :
          comments are valid only for that single line . In python we have # is single line comment .

  Multiline comment :
          is valid for multipel statements / lines . In python we have """ """ / or ''' ''' as multiline comments

*Preparing documentation :
            Python provides a very good facility of specifying documentation for any function , class or module and library . This documentation means a
            small description / explaination about the role of that entity . To prepare documentation for any entity we begin it with multiline comments.

            for ex:
              def addition():
                """ #This function calculates addition of two numbers """
               # print("Enter two no's ")
              #  a = int(input())
              # b = int(input())
               # c = a + b
               # print("Addition is ",c )

    #After mentioning documentation of any entity , we can fetch that documentation on by using attribute (__doc__).
    """
    for ex:
      print(Addition.__doc__)

    """
  """
    Importing a python module is similar to including header files in "C". But here in python , to include / import a module we have keyword
    "import". To import a module general syntax is :

    import module_name
    or
    import keyword , cx_oracle , math

  """
"""
  Additionally , python provides the facility of giving an alternate name to reference by using keyword "as".
    For ex :
        import keyword as kw
        or
        import cx_oracle as co

  After declaring such shorten names for references , we can now use such shorten names in statements. Remember that , if we use any modele then every entity
  of this module must be use with module_name/ shorten names.
        ex:
          import test1 as T
            T.method1()
            T.A
            T.method2()

The use of keyword "as" is also called as "alias".

    **. from ____ import ____ :
            This is also anoter way of importing packages and modules . To apply from import we have to use
                from MODULE_NAME import ENTITY_NAME
                            or
                from PACKAGE_NAME import MODULE_NAME

    * The advantage of using from ___ import ___  is that , that entity directly becomes port of porgram and therefore we don't need to use module name
    to use that entity.


  """
 # Logical statements :
"""
        * Single if - statements :

              if condition :
                stmts
                stmts
                stmts

      *Multiple if statements :

            if condition :
                stmts
            if condition :
                stmts
            if condition :
                stmts

      * if-else :

            if condition :
                stmts
                stmts
                stmts
            else :
                stmts
                stmts
                stmts

      * Nested if :

              if condition:
                  if condition:
                        stmts
                        stmts
                        stmts

      * Nested if - else stmts:

                  if codition:
                      if condition:
                            stmts
                            stmts
                      else:
                            stmts
                            stmts
                            stmts
                  else :
                      if condition:
                            stmts
                            stmts
      ** instead of else-if statement we use "elif"

      """
"""

In [ ]:
# write a program to check whether the number is even or odd

number= int(input("Enter the no. to check whether it's even or odd\n"))
if(number % 2 == 0):
  print("The number is the even which is ", number)
else:
  print("The number is not even which is", number)

Enter the no. to check whether it's even or odd
20
The number is the even which is  20

In [ ]:
# The randint() function will return any random value from sprcified range. It also incudes the end value.

# The randrange() function will return any random value form specified range . It will not include end value . The randrange() function also allows to
# specify step . By default step value is +1 .

# The random() function will return a random floating point value from 0.0 to 0.99 ( > 0 but < 1).
# The choice() function will randomly select and reutrn any item / value form specified sequence .

# make a game of stone , paper and scissor and display how many times the user wins .
# it's not a complete game it's just a basic structure we'll do some correction in it in upcoming days .
import random

print("1-Stone")
print("2-Paper")
print("3-Scissor")

# taking user's choice

i = 1
while i <= 5 :
  user = int(input("Select one option:"))

  # taking a random value as computer's choice
  comp = random.randint(1,3)

  if (user==1 and comp==2) or (user==2 and comp==3) or (user==3 and comp==1) :
     temp = 0
     temp = temp + 1
  elif (user==2 and comp==1) or (user==3 and user==2) or (user==1 and comp==3):
      temp2 = 0
      temp2 = temp2 + 1
  elif (user == comp) :
      temp3 = 0
      temp3 = temp3 + 1

i = i + 1

print(temp)
print("This times computer wins")

print(temp2)
print("This time user wins")

print(temp3)
print("This times draws happend")

In [ ]:
# List :
"""
#List is dynamic and mutable.
#List is represent in [].
#Allows to overwrite by using index and indexing operator .
#Allows indexing (use indexing operator []).
#Allows duplicate elements.


# Note : By default the tuple is data structure in python .

# __prompt__: Giving msg in the input taking function.
b = int(input("Enter the number"))


"""
ls1 = ["Amit","Gaurav","Ajinkya","Rahul"]
ls2 = [1,2,3,4,5]

ls1.append("Prathamesh")
ls2.append(17)

ls1.insert(3,"MGM'S POLYTECHNIC")
ls2.reverse()

ls1.remove("Amit")
ls2.remove(1)

print(ls1)
print(ls2)

In [ ]:
# Tuple:
# - is a static and immutable entity.
# - is represent  in simple parantesis braces .
# - allows indexing ( in indexing operator[]) but will not allow over writing by using index number .
# - minimum 2 elements / objects are required to initialize a tuple.
# - allows every type of elements / objects .

=======================================


# Dictionary :
# - keys must be an immutable entity .
# - values can be anything.
# - d = { "Ganesh":123456}

# mutable : List , dictionary and set
# immutable : string , tuple , numeric objects .


======================================


# Difference between List and Tuple
      List                                                                                                        Tuple
    =======                                                                                                     =========
# - is dynamic and mutable entity .                                                  - is static and immutable entity .
# - is represented in [].                                                            - is represented in ()
# - is object of class list .                                                        - is object of Class tuple .
# - generates indexing automatically (from 0) .                                      - generates indexing automatically form 0 .
# - allows to overwrite values by using index number .                               - Tuple allows indexing in [] .
# - allows every object as its element.                                              - does not allow to overwrite the values by using index number.
# - allows duplicate elements .                                                      - allows every object as element.
# - Single element can create list .                                                 - allows duplicate elements.
# - None is allowed as value                                                         - atleast 2 elements are required to create a tuple .
                                                                                    #- none is allowed as value .


# Dictionary                                                                      # Set :
==============                                                                    =======
# - is dynamic and mutable entity                                                - set is dynamic and mutable entity .
# - is represented in curly braces {}.                                           - is object of class set .
# - is object of class Dict.                                                     - is represented {} .
# - we specify {key: value} pair will not generate indexing use key as index.    - does not allow indexing .
# - allows indexing in [] (use key as index).                                    - does not allow overwrite of elements .
# - allows to overwrite value by using key .                                     - allows only immutable entities as elements .
# - keys must be immutable entity value can be anything .                        [ list , dict , set - are not allowed].
# - does not allows duplicate keys but values can be duplicate .                 - does not allow duplicate elements .
# - single { key : value }  pair can create dictionary .                         - single element can create a set .
# - A key cannot be None but Value can be None .                                 - None is allowed as value .
                                                                                # {} is "dict" .

In [ ]:
# append():
# This function appends and adds specified abject as last element in invoking list object.
# ex :
ls1 = [10,55,"ABCD",56.43,"IJKL",522]
print("initially list contains : ", ls1)
ls1.append(200)
print("updated list contains : ",ls1)
# Also remember that, list is a dynamic entity . Therefore it will automatically expand when append() mehtod executes.
# We can also declare blank list . This append() method will add elements into list add expand it .

In [ ]:
# clear(): This method clears/resets all elements of invoking list object .
# ex : 1
ls1 = [10,255,488.24,"ABCD",900]
print("Initially list contains :",ls1)
ls1.clear()
print("updated list contains : ",ls1)

In [ ]:
# ex : 2
ls1 = [10,255,488.24,"ABCD",900]
print("Initially list contains :",ls1)
print("initial ID of ls1 is : ",id(ls1))
ls1.clear()
print("updated list contains : ",ls1)
print("Now ID of ls1 is : ", id(ls1))

Initially list contains : [10, 255, 488.24, 'ABCD', 900]
initial ID of ls1 is :  133055137047872
updated list contains :  []
Now ID of ls1 is :  133055137047872

In [ ]:
# sort : This function sorts the list elements in ASC or DESC order .
# By - default sorts in ASC order .
# To sort in DESC order assign True to attribute "reverse=" .
ls1 = [10,255,488.24,900,543]
print("Initially list contains : ",ls1)
ls1.sort(reverse=True)
print("Sorted list is :",ls1)

Initially list contains :  [10, 255, 488.24, 900, 543]
Sorted list is : [900, 543, 488.24, 255, 10]

In [ ]:
# ex 2 :
ls1 = ["Prathamesh","soham","Gaurav","Siddhart","Vinit","Vishal"]
print("Initially list contains : ",ls1)
ls1.sort()
print("Sorted list is :",ls1)
# Strictly remember that , for sorting the object / elements of list must be of either numeric or String .

Initially list contains :  ['Prathamesh', 'soham', 'Gaurav', 'Siddhart', 'Vinit', 'Vishal']
Sorted list is : ['Gaurav', 'Prathamesh', 'Siddhart', 'Vinit', 'Vishal', 'soham']

In [ ]:
# Copy() : This function returns a copy of invoking list object as another list object . Both will have different ID's .
# ex :
ls1 = [15,22.65,"ABCD","XYZ",3555]
print("Initially list contains :", ls1)
ls2 = ls1.copy()
print("ls1 contains :" , ls1)
print("ls2 contains :" , ls2)
print("ID of ls1 is :" , id(ls1))
print("ID of ls2 is : " , id(ls2))

Initially list contains : [15, 22.65, 'ABCD', 'XYZ', 3555]
ls1 contains : [15, 22.65, 'ABCD', 'XYZ', 3555]
ls2 contains : [15, 22.65, 'ABCD', 'XYZ', 3555]
ID of ls1 is : 133055141409152
ID of ls2 is :  133055135602944

In [ ]:
# insert() : This function inserts specified object at specified index in invoking list object .
# ex :
ls1 = [15,22.65,"ABCD","XYZ",3555]
print("Initially list contains :", ls1)
ls1.insert(2,"joshi")
print("Updated list is : ", ls1)

Initially list contains : [15, 22.65, 'ABCD', 'XYZ', 3555]
Updated list is :  [15, 22.65, 'joshi', 'ABCD', 'XYZ', 3555]

In [ ]:
# remove() : This function is to remove specified object from invoking list object .
# ex:
ls1 = ["Prathamesh",15,"Gaurav",22.65,"ABCD","XYZ",3555]
print("Initially list contains :", ls1)
ls1.remove("Gaurav")
print("Updatd is : ", ls1)
# The element/object to be removed , must be present in the list object .

Initially list contains : ['Prathamesh', 15, 'Gaurav', 22.65, 'ABCD', 'XYZ', 3555]
Updatd is :  ['Prathamesh', 15, 22.65, 'ABCD', 'XYZ', 3555]

In [ ]:
# pop() : This function removes an object form the specified index . we have to mention the index value in the pop() function . And if the
# index no. is not mentioned in the pop() function then it will remove the object/element from the last .
# ex :
ls1 = ["Prathamesh",15,"Gaurav",22.65,"ABCD","XYZ",3555]
print("Initially list contains :", ls1)
ls1.pop(1)
print("Updated list is : ", ls1)

Initially list contains : ['Prathamesh', 15, 'Gaurav', 22.65, 'ABCD', 'XYZ', 3555]
Updated list is :  ['Prathamesh', 'Gaurav', 22.65, 'ABCD', 'XYZ', 3555]

In [ ]:
# reverse() : This function will permanently reverse the order of list object .
# ex :
ls1 = ["Prathamesh",15,"Gaurav",22.65,"ABCD","XYZ",3555]
print("Initially list contains :", ls1)
ls1.reverse()
print("Updated list contains :", ls1)

Initially list contains : ['Prathamesh', 15, 'Gaurav', 22.65, 'ABCD', 'XYZ', 3555]
Updated list contains : [3555, 'XYZ', 'ABCD', 22.65, 'Gaurav', 15, 'Prathamesh']

In [ ]:
# count() : This function will return the occurence count of specified object / element in invoking list object . we have to store the value of
# count in another variable .
# ex :
ls1 = ["Prathamesh",15,"Gaurav",22.65,15,"Gaurav","ABCD","XYZ",3555]
print("Initially list contains :", ls1)
a = ls1.count("Gaurav")
print("count of specified object/element :" ,a)

Initially list contains : ['Prathamesh', 15, 'Gaurav', 22.65, 15, 'Gaurav', 'ABCD', 'XYZ', 3555]
count of specified object/element : 2

In [ ]:
# extend(): This function appends the elements of specified sequence in invoking list object .
ls1 = ["Prathamesh",15,"Gaurav",22.65,"ABCD","XYZ",3555]
print("Initially list contains :", ls1)
ls2 = [100,200,"IJKL",50.66]
ls1.extend(ls2)
print("List 1 becomes :", ls1)
print("List 2 becomes : " , ls2)

Initially list contains : ['Prathamesh', 15, 'Gaurav', 22.65, 'ABCD', 'XYZ', 3555]
List 1 becomes : ['Prathamesh', 15, 'Gaurav', 22.65, 'ABCD', 'XYZ', 3555, 100, 200, 'IJKL', 50.66]
List 2 becomes :  [100, 200, 'IJKL', 50.66]

In [ ]:
# index() : This function returns index number of first occurrence of specified object / element in invoking list object .
# ex :
ls1 = ["Prathamesh",15,"Gaurav",22.65,"ABCD","XYZ",3555]
print("Initially list contains :", ls1)
a = ls1.index("Gaurav")
print(a)
b = ls1.index(15)
print(b)

Initially list contains : ['Prathamesh', 15, 'Gaurav', 22.65, 'ABCD', 'XYZ', 3555]
2
1

In [ ]:
# Roll and Dice:
import random

players = []
first_six = False

print("Enter number of players")
pl = int(input())

print("Enter names of players")
i = 1
while i<=pl:
  nm = input()
  players.append(nm)
  i = i + 1


player_index = 0
while True:
  print("\n Please play your turn :",players[player_index])
  input("Press Enter to Roll the Dice")
  score = random.randint(1,6)
  print("You rolled : ", score)
  if score == 6 and first_six == False:
    print("Please repeat your turn")
    first_six = True
  elif score == 6 and first_six == True:
    print(players[player_index],"wins...!!")
    break
  else:
    player_index = player_index + 1
    first_six = False
    if player_index == pl:
      player_index = 0

In [ ]:
ls1 = [5,10,15,20,25,50,20]
print("Original list is :",ls1)
a = ls1.index(20)
ls1[a]=200
print("updated list is :", ls1)

Original list is : [5, 10, 15, 20, 25, 50, 20]
updated list is : [5, 10, 15, 200, 25, 50, 20]

In [ ]:
# or
ls1 = [5,10,15,20,25,50,20]
print("Original list is :", ls1)
i = 0
while i<=len(ls1):
  if ls1[i] == 20:
    ls1[i] = 200
    break
  i = i + 1
print("Üpdated list is :" , ls1)

Original list is : [5, 10, 15, 20, 25, 50, 20]
Üpdated list is : [5, 10, 15, 200, 25, 50, 20]

In [ ]:
list1 = ["M","na","i","Ke"]
list2 = ["y","me","s","lly"]

list3 = []

i = 0
while i<len(list1):
  word = list1[i] + list2[i]
  list3.append(word)
  i = i + 1

print("Resulting list is :", list3)

Resulting list is : ['My', 'name', 'is', 'Kelly']

In [ ]:
ls1 = [1,2,3,4,5,6,7]
print("Original list is :",ls1)

i=0
while i<len(ls1):
  ls1[i] = ls1[i] * ls1[i]
  i = i + 1
print("Updated list is :", ls1)

Original list is : [1, 2, 3, 4, 5, 6, 7]
Updated list is : [1, 4, 9, 16, 25, 36, 49]

In [ ]:
ls1 = ["Hello","take"]
ls2 = ["Dear","Sir"]

ls3 = []
i = 0
while i<len(ls2):
  j=0
  word = ls1[i] + " " + ls2[j]
  j = j + 1
  ls3.append(word)
i = i + 1

print("List 3 contains : ", list3)